In [1]:
# import library
import pyspark

In [2]:
# check pyspark version
pyspark.__version__

'3.5.0'

In [3]:
# import SparkSession
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
    .builder \
    .appName("Final Project PySpark") \
    .getOrCreate()

In [5]:
spark

## Load and Handle Failure Data

In [6]:
from dotenv import load_dotenv
import os
import pandas as pd

In [7]:
load_dotenv(".env", override=True)

True

In [8]:
import csv
from datetime import datetime
import json

In [9]:
# INIT LOGS
def log_to_csv(log_msg: dict, filename: str):
    # Ensure the 'logs' directory exists
    log_dir = os.path.join(os.getcwd(), 'logs')
    if not os.path.exists(log_dir):
        os.makedirs(log_dir)

    # Create the full file path inside 'logs'
    file_path = os.path.join(log_dir, filename)

    # Define the column headers
    headers = ["step", "status", "source", "table_name", "etl_date"]

    try:
        # Check if the file exists
        file_exists = os.path.isfile(file_path)

        with open(file_path, mode='a', newline='') as file:
            writer = csv.DictWriter(file, fieldnames=headers)

            # Write the header only if the file doesn't exist
            if not file_exists:
                writer.writeheader()

            # Append the log message
            writer.writerow(log_msg)

        print(f"Log written to {file_path}")
    
    except Exception as e:
        print(f"Error writing log to {file_path}: {e}")

In [10]:
# set variable for database

DB_URL = os.getenv("DB_URL")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")

In [11]:
import requests

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.utils import AnalysisException

In [13]:
!pip install pangres

Requirement already satisfied: pangres in /opt/conda/lib/python3.11/site-packages (4.2.1)
Requirement already satisfied: pandas>=0.25.3 in /opt/conda/lib/python3.11/site-packages (from pangres) (2.0.3)
Requirement already satisfied: sqlalchemy>=1.3.12 in /opt/conda/lib/python3.11/site-packages (from pangres) (2.0.22)
Requirement already satisfied: alembic>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from pangres) (1.12.0)
Requirement already satisfied: packaging>=21.0 in /opt/conda/lib/python3.11/site-packages (from pangres) (23.2)
Requirement already satisfied: Mako in /opt/conda/lib/python3.11/site-packages (from alembic>=1.3.1->pangres) (1.2.4)
Requirement already satisfied: typing-extensions>=4 in /opt/conda/lib/python3.11/site-packages (from alembic>=1.3.1->pangres) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (1.24.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=1.3.12->pangres) (3.0.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pangres) (1.16.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /opt/conda/lib/python3.11/site-packages (from Mako->alembic>=1.3.1->pangres) (2.1.3)

In [14]:
# set variable for database

DB_STAGING_URL = os.getenv("DB_STAGING_URL")
DB_STAGING_USER = os.getenv("DB_STAGING_USER")
DB_STAGING_PASS = os.getenv("DB_STAGING_PASS")

## Extract Data from Staging

In [15]:
spark.catalog.clearCache()

In [16]:
# set variable for staging

DB_STAGING_URL = os.getenv("DB_STAGING_URL")
DB_STAGING_USER = os.getenv("DB_STAGING_USER")
DB_STAGING_PASS = os.getenv("DB_STAGING_PASS")

In [17]:
def extract_from_staging():
    try:
        # Get list of tables from staging
        table_list = spark.read \
            .format("jdbc") \
            .option("url", DB_STAGING_URL) \
            .option("dbtable", "(SELECT table_name FROM information_schema.tables WHERE table_schema = 'public') AS tbl") \
            .option("user", DB_STAGING_USER) \
            .option("password", DB_STAGING_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select("table_name") \
            .rdd.flatMap(lambda x: x).collect()

        print(f"Found tables in staging: {table_list}")

        tables = {}
        for table in table_list:
            try:
                # Read each table into a DataFrame
                df = spark.read \
                    .format("jdbc") \
                    .option("url", DB_STAGING_URL) \
                    .option("dbtable", table) \
                    .option("user", DB_STAGING_USER) \
                    .option("password", DB_STAGING_PASS) \
                    .option("driver", "org.postgresql.Driver") \
                    .load()

                tables[table] = df

                # Log success for each table
                log_to_csv({
                    "step": "Extract",
                    "status": "Success",
                    "source": "PostgreSQL (Staging)",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")

                print(f"Successfully extracted table: {table}")

            except Exception as e:
                # Log failure for specific table
                log_to_csv({
                    "step": "Extract",
                    "status": f"Failed: {e}",
                    "source": "PostgreSQL (Staging)",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")
                print(f"Failed to extract table: {table} - Error: {e}")

        return tables
    
    except Exception as e:
        # Log failure for the whole extraction process
        log_to_csv({
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "PostgreSQL (Staging)",
            "table_name": "N/A",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        print(f"Failed to extract tables: {e}")
        return {}

In [ ]:
# Extract all tables from staging
data = extract_from_staging()
print(f"Extracted tables: {list(data.keys())}")

In [ ]:
# Read All data from staging
acquisition = data["acquisition"]
company = data["company"]
funding_rounds = data["funding_rounds"]
funds = data["funds"]
investments = data["investments"]
ipos = data["ipo"]
milestones = data["milestones"]
people = data["people"]
relationship = data["relationship"]

# check
company.show()

## Data Checking

### Data Profiling

In [ ]:
import os
import json
from datetime import datetime, date
from decimal import Decimal

# Helper function buat konversi tipe data ke JSON-compatible
def convert_to_serializable(obj):
    if isinstance(obj, Decimal):
        return float(obj)
    if isinstance(obj, (datetime, date)):
        return obj.isoformat()
    return obj

def profile_data(person, df, table_name, format_file):
    try:
        n_rows = df.count()
        n_cols = len(df.columns)
        
        column_info = {}
        for col in df.columns:
            data_type = df.schema[col].dataType.simpleString()
            sample_values = df.select(col).distinct().limit(5).rdd.flatMap(lambda x: x).collect()
            null_count = df.filter(df[col].isNull()).count()
            unique_count = df.select(col).distinct().count()
            
            # Min and max values (if numeric or date type)
            try:
                min_value = df.agg({col: "min"}).collect()[0][0]
                max_value = df.agg({col: "max"}).collect()[0][0]
            except:
                min_value = None
                max_value = None
            
            # Persentase missing value
            percentage_missing = round((null_count / n_rows) * 100, 2) if n_rows > 0 else 0.0
            
            # Ambil 5 nilai unik sebagai sampel
            unique_values = df.select(col).distinct().limit(5).rdd.flatMap(lambda x: x).collect()
            
            # Persentase valid date (khusus untuk tipe date dan datetime)
            percentage_valid_date = None
            if data_type in ['date', 'timestamp']:
                valid_date_count = df.filter(df[col].isNotNull()).count()
                percentage_valid_date = round((valid_date_count / n_rows) * 100, 2) if n_rows > 0 else 0.0

            column_info[col] = {
                "data_type": data_type,
                "sample_values": [convert_to_serializable(v) for v in sample_values] if sample_values else None,
                "unique_count": unique_count,
                "unique_value": [convert_to_serializable(v) for v in unique_values] if unique_values else None,
                "null_count": null_count,
                "percentage_missing_value": percentage_missing,
                "min_value": convert_to_serializable(min_value),
                "max_value": convert_to_serializable(max_value),
                "percentage_valid_date": percentage_valid_date
            }
        
        dict_profiling = {
            "created_at": datetime.now().isoformat(),
            "person_in_charge": person,
            "profiling_result": {
                "table_name": table_name,
                "format_file": format_file,
                "n_rows": n_rows,
                "n_cols": n_cols,
                "report": column_info
            }
        }
        
        # Save profiling result to JSON
        folder_path = "data_profiling"
        os.makedirs(folder_path, exist_ok=True)

        file_path = os.path.join(folder_path, f"{table_name}_profiling.json")
        with open(file_path, "w") as f:
            json.dump(dict_profiling, f, indent=4, default=convert_to_serializable)

        print(f"Profiling saved to: {file_path}")

        # Create success log message
        log_msg = {
            "step": "Profiling",
            "status": "Success",
            "source": format_file,
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S") 
        }

    except Exception as e:
        print(f"Error profiling table {table_name}: {e}")

        # Create fail log message
        log_msg = {
            "step": "Profiling",
            "status": f"Failed: {e}",
            "source": format_file,
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S") 
        }

    finally:
        # Save log to CSV
        log_to_csv(log_msg, "etl_log.csv")

    return dict_profiling if 'dict_profiling' in locals() else None

In [ ]:
# test 1
profiling_result = profile_data("Mr. A", people, "people_data", "from Staging")
print(json.dumps(profiling_result, indent=2))

In [ ]:
profile_data("Mr. CCC", relationship, "relationship_data", "from Staging")
profile_data("Mrs. H", acquisition, "acquisition_data", "from Staging")
profile_data("Mrs. OP", company, "company_data", "from Staging")
profile_data("Mr. CCC", funding_rounds, "funding_rounds_data", "from Staging")
profile_data("Mr. A", funds, "funds_data", "from Staging")
profile_data("Mrs. H", investments, "investments_data", "from Staging")
profile_data("Mr. A", ipos, "ipos_data", "from Staging")
profile_data("Mrs. OP", milestones, "milestones_data", "from Staging")

## Transformation

In [15]:
!pip install unidecode

Requirement already satisfied: unidecode in /opt/conda/lib/python3.11/site-packages (1.3.8)

In [16]:
from pyspark.sql.functions import col, lit, to_date, when, udf
from pyspark.sql.types import IntegerType, StringType
from sqlalchemy import create_engine
from pangres import upsert
import pandas as pd
import re
from unidecode import unidecode
import unicodedata

In [17]:
# Setup connection to dwh
DWH_URL = os.getenv("DWH_URL")
DWH_USER = os.getenv("DWH_USER")
DWH_PASS = os.getenv("DWH_PASS")
engine = create_engine(f"postgresql://{DWH_USER}:{DWH_PASS}@host.docker.internal:5432/pyspark_task_dwh")

In [18]:
# Function for extracting integer value from format "<letter>:<number>"

@udf(returnType=IntegerType())
def clean_integer(value):
    if isinstance(value, str):
        match = re.match(r"^[a-zA-Z]:(\d+)", value) 
        if match:
            return int(match.group(1))  # Catch value after ":"
        else:
            return None 
    return value

In [19]:
@udf(returnType=StringType())
def clean_text(value):
    if value:
        try:
            # Handle encoding issue 
            value = value.encode('latin1').decode('utf-8')
        except (UnicodeEncodeError, UnicodeDecodeError):
            pass
        # Normalization
        value = unicodedata.normalize("NFKD", value)
        # Handle strange character
        value = re.sub(r'[^\x00-\x7F]+', '', value)
        value = value.strip()
        value = unidecode(value)
    return value

In [20]:
# UDF for extracting prefix and numeric ID

@udf(returnType=StringType())
def extract_prefix(value):
    if value and ":" in value:
        return value.split(":")[0]
    return None

@udf(returnType=IntegerType())
def extract_id(value):
    if value and ":" in value:
        try:
            return int(value.split(":")[1])
        except ValueError:
            return None
    return None

In [21]:
# NEW

import os
import pandas as pd
from datetime import datetime

def save_invalid_ids(invalid_ids, table_name, folder='logs', filename='invalid_ids.csv'):
    if not invalid_ids:
        print(f"No invalid IDs to save from table '{table_name}'.")
        return
    
    try:
        os.makedirs(folder, exist_ok=True)
        file_path = os.path.join(folder, filename)
        
        # Konversi list ke DataFrame
        df = pd.DataFrame(invalid_ids, columns=['entity_type', 'object_id'])
        df['table_name'] = table_name
        df['timestamp'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        
        # Kalau file sudah ada, cek duplikasi biar gak nambah terus
        if os.path.exists(file_path):
            existing_df = pd.read_csv(file_path)
            # Gabung dataframe lalu drop duplikat
            df = pd.concat([existing_df, df]).drop_duplicates(subset=['entity_type', 'object_id', 'table_name'])
        
        # Tulis ulang ke file (bukan append) biar data tetap konsisten
        df.to_csv(file_path, mode='w', index=False)
        
        print(f"{len(invalid_ids)} invalid IDs from table '{table_name}' saved to {file_path}")
    
    except Exception as e:
        print(f"Error saving invalid IDs from table '{table_name}': {e}")

In [22]:
@udf(returnType=StringType())
def normalize_text(value):
    if not isinstance(value, str) or not value.strip():
        return None  # Jika kosong atau bukan string, kembalikan None
    
    # Ubah jadi lowercase
    value = value.lower()
    
    # Hapus karakter aneh seperti kutip, tanda baca yang tidak diperlukan
    value = re.sub(r'[^\w\s,&/]', '', value)  # Hanya biarkan huruf, angka, spasi, koma, ampersand, dan slash
    
    # Ganti beberapa simbol yang sering dipakai sebagai pemisah menjadi spasi
    value = re.sub(r'[/,&]', ' ', value)  # Contoh: "Designer, UX, UI" â†’ "designer ux ui"
    
    # Hapus spasi berlebih
    value = re.sub(r'\s+', ' ', value).strip()
    
    return value

In [23]:
import re

@udf(returnType=StringType())
def clean_alpha_text(text):
    if text:
        # Hapus simbol dan karakter aneh, kecuali alfanumerik dan spasi
        return re.sub(r'[^\w\s]', '', text).strip()
    return None

In [24]:
@udf(returnType=StringType())
def fix_encoding(s):
    if s is not None:
        try:
            return unidecode(s)
        except Exception as e:
            return None
    return s

In [25]:
@udf(returnType=StringType())
def extract_stock_market(value):
    if value and ":" in value:
        return value.split(":")[0]
    return None

@udf(returnType=StringType())
def extract_stock_symbol(value):
    if value and ":" in value:
        return value.split(":")[1]
    return None

### Company Data

In [ ]:
from pyspark.sql.functions import col, udf, split
from pyspark.sql.types import StringType, IntegerType
from datetime import datetime

def transform_company(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Step 2: Format data type
        df = df.withColumn("latitude", col("latitude").cast("decimal(9,6)"))
        df = df.withColumn("longitude", col("longitude").cast("decimal(9,6)"))
        
        # Extract prefix and ID 
        df = df.withColumn("entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("object_id", extract_id(col("object_id")))

        # Step 3: Encoding
        df = df.withColumn("description", clean_text("description"))
        df = df.withColumn("address1", clean_text("address1"))
        df = df.withColumn("zip_code", clean_text("zip_code"))
        df = df.withColumn("region", clean_text("region"))
        
        log_to_csv({
            "step": "Format Data",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 4: Mapping ke target column
        df_transformed = df.select(
            col("office_id").alias("company_id"),
            col("entity_type").alias("entity_type"),
            col("object_id").alias("object_id"),  # INT
            col("description").alias("description"),
            col("address1").alias("address"),
            col("region").alias("region"),
            col("city").alias("city"),
            col("zip_code").alias("zip_code"),
            col("state_code").alias("state_code"),
            col("country_code").alias("country_code"),
            col("latitude").alias("latitude"),
            col("longitude").alias("longitude"),
            col("created_at").alias("created_at"),
            col("updated_at").alias("updated_at")
        )

        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 5: Data cleansing 
        df_transformed = df_transformed.fillna({
            "description": "Unknown",
            "address": "Unknown",
            "region": "Unknown",
            "city": "Unknown",
            "zip_code": "Unknown",
            "state_code": "Unknown",
            "country_code": "Unknown"
        })

        # Step 6: Drop duplicate data dan value dengan latitude/longitude = 0
        df_transformed = df_transformed.dropDuplicates(["object_id"])
        df_transformed = df_transformed.filter((col("latitude") != 0) & (col("longitude") != 0))

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 7: Convert to pandas to upsert to DWH
        df_pandas = df_transformed.toPandas().set_index("company_id")
        df_pandas.index.name = "company_id"

        # Step 8: Load to DWH via upsert
        upsert(
            con=engine,
            df=df_pandas,
            table_name="dim_company",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "dim_company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "dim_company",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

In [ ]:
# Read from staging
company = spark.read \
       .format("jdbc") \
       .option("url", DB_STAGING_URL) \
       .option("dbtable", "company") \
       .option("user", DB_STAGING_USER) \
       .option("password", DB_STAGING_PASS) \
       .option("driver", "org.postgresql.Driver") \
       .load()

In [ ]:
# Transform Company data
transform_company(company)

### People Data

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat_ws, broadcast
from datetime import datetime
import os
import pandas as pd

def transform_people(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace empty strings dengan NULL
        df = df.na.replace("", None)

        # Step 2: Buat kolom full_name dari first_name + last_name
        df = df.withColumn("full_name", concat_ws(" ", col("first_name"), col("last_name")))

        # Step 3: Ekstraksi prefix dan ID dari object_id
        df = df.withColumn("entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("object_id", extract_id(col("object_id")))

        log_to_csv({
            "step": "Format Data",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 4: Mapping ke target kolom
        df_transformed = df.select(
            col("people_id").alias("people_id"),
            col("entity_type").alias("entity_type"), 
            col("object_id").alias("object_id"),
            col("full_name").alias("full_name"),
            col("birthplace").alias("birthplace"),
            col("affiliation_name").alias("affiliation_name"),
        )

        # Step 5: Bersihkan data dengan UDF
        df_transformed = df_transformed.withColumn("object_id", clean_integer(col("object_id")))
        df_transformed = df_transformed.withColumn("full_name", clean_alpha_text(col("full_name")))
        df_transformed = df_transformed.withColumn("birthplace", fix_encoding(col("birthplace")))
        df_transformed = df_transformed.withColumn("affiliation_name", clean_alpha_text(col("affiliation_name")))

        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 6: Cleaning data
        df_transformed = df_transformed.fillna({
            "full_name": "Unknown",
            "birthplace": "Unknown",
            "affiliation_name": "Unknown"
        })

        # Step 7: Drop duplicate data berdasarkan `entity_type` dan `object_id`
        df_transformed = df_transformed.dropDuplicates(["entity_type", "object_id"])

        # ðŸš¨ Drop data dengan `full_name` = "Unknown"
        df_transformed = df_transformed.filter(col("full_name") != "Unknown")

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 8: Validasi object_id di `dim_company`
        dim_company = spark.read \
            .format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select("object_id")

        # ðŸŸ¢ Data yang valid (match dengan `dim_company`)
        df_valid = df_transformed.join(
            broadcast(dim_company),
            on="object_id",
            how="inner"
        )

        # ðŸ”´ Data yang tidak valid (object_id tidak match)
        df_invalid = df_transformed.join(
            broadcast(dim_company),
            on="object_id",
            how="left_anti"
        )

        if df_invalid.count() > 0:
            # Convert ke pandas dan simpan dengan `save_invalid_ids`
            invalid_ids = df_invalid.select("entity_type", "object_id").toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="people")

            log_to_csv({
                "step": "Validation",
                "status": f"{df_invalid.count()} rows missing object_id",
                "source": "staging",
                "table_name": "people",
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            }, "etl_log.csv")

        # Step 9: Convert ke pandas untuk upsert ke DWH
        df_pandas = df_valid.toPandas().set_index("people_id")
        df_pandas.index.name = "people_id"

        # Step 10: Load to DWH (via upsert)
        upsert(
            con=engine,
            df=df_pandas,
            table_name="dim_people",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "dim_people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "dim_people",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

In [ ]:
# Read from staging
people = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "people") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [ ]:
# Transform People Data
transform_people(people)

### Milestones Data

In [ ]:
def transform_milestones(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)
        df = df.na.replace("NaN", None)
        
        # Step 2: Format data type
        df = df.withColumn("milestone_date", to_date(col("milestone_at")))

        # Step 3: Ekstraksi prefix dan ID dari object_id
        df = df.withColumn("entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("object_id", extract_id(col("object_id")))
        
        log_to_csv({
            "step": "Format Data",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 4: Mapping to target column
        df_transformed = df.select(
            col("milestone_id").alias("milestone_id"),
            col("entity_type").alias("entity_type"),
            col("object_id").alias("object_id"),
            col("milestone_date").alias("milestone_date"),
            col("description").alias("description"),
            col("source_url").alias("source_url"),
            col("source_description").alias("source_description"),
            col("created_at").alias("created_at"),
            col("updated_at").alias("updated_at")
        )
            
        # Step 5: Handle strange values
        df_transformed = df_transformed.withColumn("object_id", clean_integer(col("object_id")))
        df_transformed = df_transformed.withColumn("description", clean_alpha_text("description"))
        df_transformed = df_transformed.withColumn("source_url", when(col("source_url").rlike(r"^(http|https)://.*"), col("source_url")).otherwise("Unknown"))
        df_transformed = df_transformed.withColumn("source_description", clean_alpha_text("source_description"))

        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 6: Data cleansing
        df_transformed = df_transformed.fillna({
            "source_url": "Unknown",
            "description": "No Description",
            "source_description": "Unknown"
        })
        
        # Step 7: Drop duplicate data 
        df_transformed = df_transformed.dropDuplicates(["milestone_id"])
        df_transformed = df_transformed.dropDuplicates(["entity_type", "object_id"])

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 8: Validasi object_id di `dim_company`
        dim_company = spark.read \
            .format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select("object_id")

        # Convert object_id to integer (if needed)
        df_transformed = df_transformed.withColumn("object_id", col("object_id").cast("int"))
        
        # Filter NULL object_id explicitly
        df_transformed = df_transformed.filter(col("object_id").isNotNull())
        
        # ðŸŸ¢ Data yang valid (match dengan `dim_company`)
        df_valid = df_transformed.join(
            broadcast(dim_company),
            on="object_id",
            how="inner"
        )
        
        # ðŸ”´ Data yang tidak valid (object_id tidak match)
        df_invalid = df_transformed.join(
            broadcast(dim_company),
            on="object_id",
            how="left_anti"
        )
        
        if df_invalid.count() > 0:
            # Convert ke pandas dan simpan dengan `save_invalid_ids`
            invalid_ids = df_invalid.select("entity_type", "object_id").toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="milestone")
        
            log_to_csv({
                "step": "Validation",
                "status": f"{df_invalid.count()} rows missing object_id",
                "source": "staging",
                "table_name": "milestone",
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            }, "etl_log.csv")

        # Step 9: Convert to pandas (hanya data valid)
        df_pandas = df_valid.toPandas().set_index("milestone_id")
        df_pandas.index.name = "milestone_id"
        
        # Step 10: Load to DWH via upsert
        upsert(
            con=engine,
            df=df_pandas,
            table_name="dim_milestones",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "dim_milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "dim_milestones",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

In [ ]:
# Read from staging
milestones = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "milestones") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [ ]:
# Transform Milestones Data
transform_milestones(milestones)

### Acquisition Data - Fact

In [ ]:
from pyspark.sql.functions import col, to_date, broadcast
from datetime import datetime

def transform_acquisition(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Step 2: Format data type
        df = df.withColumn("price_amount", col("price_amount").cast("decimal(15,2)"))
        df = df.withColumn("acquired_at", to_date(col("acquired_at")))

        # Extract prefix and ID
        df = df.withColumn("acquiring_entity_type", extract_prefix(col("acquiring_object_id")))
        df = df.withColumn("acquired_entity_type", extract_prefix(col("acquired_object_id")))
        df = df.withColumn("acquiring_object_id", extract_id(col("acquiring_object_id")))
        df = df.withColumn("acquired_object_id", extract_id(col("acquired_object_id")))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 3: Mapping to target column
        df_transformed = df.select(
            col("acquisition_id"),
            col("acquiring_entity_type"),
            col("acquiring_object_id"),
            col("acquired_entity_type"),
            col("acquired_object_id"),
            col("term_code"),
            col("price_amount"),
            col("price_currency_code"),
            col("acquired_at"),
            col("source_url"),
            col("created_at"),
            col("updated_at")
        )

        # âœ… Step 4: Clean integer values
        df_transformed = df_transformed.withColumn("acquiring_object_id", clean_integer(col("acquiring_object_id")))
        df_transformed = df_transformed.withColumn("acquired_object_id", clean_integer(col("acquired_object_id")))
        df_transformed = df_transformed.dropna(subset="acquired_at")
        
        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 5: Handle null values
        df_transformed = df_transformed.fillna({
            "price_amount": 0.0,
            "price_currency_code": "Unknown",
            "source_url": "Unknown",
            "term_code": "Unknown"
        })

        # âœ… Step 6: Drop duplicates dan data yang tidak valid
        df_transformed = df_transformed.dropDuplicates(["acquisition_id"])
        df_transformed = df_transformed.filter(col("term_code") != "Unknown")
        df_transformed = df_transformed.filter(col("price_currency_code") != "Unknown")
        df_transformed = df_transformed.filter(col("price_amount") != 0.0)

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 7: Validasi object_id di `dim_company`
        dim_company = spark.read \
            .format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select("object_id", "company_id")

        # ðŸŸ¢ Data yang valid
        df_valid = (
            df_transformed
            .join(broadcast(dim_company.alias("acquiring")), col("acquiring_object_id") == col("acquiring.object_id"), "left")
            .join(broadcast(dim_company.alias("acquired")), col("acquired_object_id") == col("acquired.object_id"), "left")
            .select(df_transformed["*"],  
                    col("acquiring.company_id").alias("acquiring_company_id"),  
                    col("acquired.company_id").alias("acquired_company_id"))
        )

        
        # ðŸ”´ Data yang tidak valid
        df_invalid = df_valid.filter(col("acquiring_company_id").isNull() | col("acquired_company_id").isNull())
        
        # Hanya simpan data yang valid ke DWH
        df_valid = df_valid.filter(col("acquiring_company_id").isNotNull() & col("acquired_company_id").isNotNull())

        if df_invalid.count() > 0:
            invalid_ids = df_invalid.select("acquiring_entity_type", "acquiring_object_id", "acquired_entity_type", "acquired_object_id").toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="acquisition")
            
            log_to_csv({
                "step": "Validation",
                "status": f"{df_invalid.count()} rows with missing object_id",
                "source": "staging",
                "table_name": "acquisition",
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            }, "etl_log.csv")

        # âœ… Step 8: Load to DWH (upsert)
        df_pandas = df_valid.select([
            "acquisition_id",
            "acquiring_object_id",
            "acquired_object_id",
            "acquiring_entity_type",
            "acquired_entity_type",
            "term_code",
            "price_amount",
            "price_currency_code",
            "acquired_at",
            "source_url",
            "created_at",
            "updated_at"
        ]).toPandas().set_index("acquisition_id")


        upsert(
            con=engine,
            df=df_pandas,
            table_name="fact_acquisition",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "fact_acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
    
    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "fact_acquisition",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

In [ ]:
# Read from staging
acquisition = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "acquisition") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [ ]:
# transform acquisition data

transform_acquisition(acquisition)

### Investments Data - Fact

In [ ]:
from pyspark.sql.functions import col, to_date, broadcast
from datetime import datetime

def transform_investments(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Extract prefix and ID
        df = df.withColumn("funded_entity_type", extract_prefix(col("funded_object_id")))
        df = df.withColumn("investor_entity_type", extract_prefix(col("investor_object_id")))
        df = df.withColumn("funded_object_id", extract_id(col("funded_object_id")))
        df = df.withColumn("investor_object_id", extract_id(col("investor_object_id")))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 3: Mapping to target column
        df_transformed = df.select(
            col("investment_id").alias("investment_id"),
            col("funding_round_id").alias("funding_round_id"),
            col("funded_entity_type").alias("funded_entity_type"),
            col("funded_object_id").alias("funded_object_id"),
            col("investor_entity_type").alias("investor_entity_type"),
            col("investor_object_id").alias("investor_object_id"),
            col("created_at").alias("created_at"),
            col("updated_at").alias("updated_at")
        )

        # âœ… Step 4: Clean integer values
        df_transformed = df_transformed.withColumn("funded_object_id", clean_integer(col("funded_object_id")))
        df_transformed = df_transformed.withColumn("investor_object_id", clean_integer(col("investor_object_id")))
        
        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 5: Handle null values

        # âœ… Step 6: Drop duplicates dan data yang tidak valid
        # Fix dropna and dropDuplicates
        df_transformed = df_transformed.dropDuplicates(["investment_id"])

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 7: Validasi object_id di `dim_company`
        companies = spark.read \
            .format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select(col("object_id"), col("company_id"))
        
        people = spark.read \
            .format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_people") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select(col("object_id"), col("people_id"))

        # Join with companies and people tables
        df_transformed = df_transformed \
            .join(companies.alias("comp"), df_transformed["investor_object_id"] == col("comp.object_id"), "left") \
            .join(people.alias("peop"), df_transformed["investor_object_id"] == col("peop.object_id"), "left") \
            .withColumn("investor_object_id", when(col("comp.company_id").isNotNull(), col("comp.company_id"))
                        .otherwise(col("peop.people_id"))) \
            .withColumn("investor_entity_type", when(col("comp.company_id").isNotNull(), lit("company"))
                        .otherwise(lit("people")))

        df_transformed = df_transformed \
            .join(companies.alias("funded"), df_transformed["funded_object_id"] == col("funded.object_id"), "left") \
            .withColumn("mapped_funded_object_id", col("funded.company_id"))

        df_transformed = df_transformed.select(
            df_transformed["investment_id"],
            df_transformed["funding_round_id"],
            df_transformed["funded_entity_type"],
            # df_transformed["funded_object_id"],
            df_transformed["investor_entity_type"],
            df_transformed["investor_object_id"],
            df_transformed["created_at"],
            df_transformed["updated_at"],
            col("mapped_funded_object_id").alias("funded_object_id")
        )

        # Validation
        df_valid = (
            df_transformed
            .join(broadcast(companies.alias("investor")), col("investor_object_id") == col("investor.object_id"), "left")
            .join(broadcast(companies.alias("funded")), col("funded_object_id") == col("funded.object_id"), "left")
            .select(df_transformed["*"],  
                    col("investor.company_id").alias("investor_company_id"),  
                    col("funded.company_id").alias("funded_company_id"))
        )

        df_invalid = df_valid.filter(col("investor_object_id").isNull() | col("funded_object_id").isNull())
        df_valid = df_valid.filter(col("investor_object_id").isNotNull() & col("funded_object_id").isNotNull())
        
        if df_invalid.count() > 0:
            invalid_ids = df_invalid.select("investor_entity_type", "investor_object_id", 
                                            "funded_entity_type", "funded_object_id").toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="investments")
        
        # Load to DWH
        df_pandas = df_valid.select([
            "investment_id",
            "funding_round_id",
            "funded_entity_type",
            "funded_object_id",
            "investor_entity_type",
            "investor_object_id",
            "created_at",
            "updated_at"
        ]).toPandas().set_index("investment_id")
        
        
        upsert(
            con=engine,
            df=df_pandas,
            table_name="fact_investments",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "fact_investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
    
    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "fact_investments",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

In [ ]:
# Read from staging
investments = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "investments") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [ ]:
# Transform Investments data

transform_investments(investments)

### Funding Rounds Data

In [168]:
from pyspark.sql.functions import col, to_date, broadcast, when, lit
from pyspark.sql.types import IntegerType, StringType
from datetime import datetime

def transform_funding_rounds(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "funding_rounds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Extract prefix and ID (pastikan fungsi ini sudah didefinisikan)
        df = df.withColumn("funding_entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("object_id", extract_id(col("object_id")))
        df = df.withColumn("object_id", col("object_id").cast(IntegerType()))

        # Format data type
        df = df.withColumn("funding_date", to_date(col("funded_at")))
        df = df.withColumn("funding_entity_type", col("funding_entity_type").cast(StringType()))
        df = df.withColumn("participants", col("participants").cast(IntegerType()))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "funding_rounds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        df_null_1 = df.filter(col("object_id").isNull())
        df_null_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_null_1.count()}")

        df_notnull_1 = df.filter(col("object_id").isNotNull())
        df_notnull_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_notnull_1.count()}")

        # Step 2: Mapping to target column
        df_transformed = df.select(
            col("funding_round_id"),
            col("funding_entity_type"),
            col("object_id").alias("funding_object_id"),
            col("funding_round_type").alias("round_type"),
            col("funding_date"),
            col("raised_currency_code").alias("raised_currency"),
            col("raised_amount"),
            col("raised_amount_usd"),
            col("pre_money_currency_code").alias("pre_money_currency"),
            col("pre_money_valuation"),
            col("pre_money_valuation_usd"),
            col("post_money_currency_code").alias("post_money_currency"),
            col("post_money_valuation"),
            col("post_money_valuation_usd"),
            col("participants"),
            col("source_url"),
            col("source_description"),
            col("created_at"),
            col("updated_at")
        )

        # Handle null values
        df_transformed = df_transformed.fillna({
            "round_type": "Unknown",
            "raised_currency": "USD",
            "pre_money_currency": "USD",
            "post_money_currency": "USD",
            "raised_amount_usd": 0.0,
            "source_description": "Unknown",
        })

        # Drop duplicates dan invalid data
        df_transformed = df_transformed.dropDuplicates(["funding_round_id"])
        df_transformed = df_transformed.filter(col("round_type") != "Unknown")

        df_transformed = df_transformed.withColumn(
            "source_url", when(col("source_url").rlike(r"^(http|https)://.*"), col("source_url")).otherwise("Unknown")
        )
        df_transformed = df_transformed.withColumn(
            "source_description", clean_alpha_text("source_description")
        )

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "funding_rounds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Load dim_company dan dim_people untuk validasi
        companies = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("company_id"))

        people = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_people") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("people_id"))

        # Validasi funded_object_id
        df_valid = df_transformed \
            .join(broadcast(companies), df_transformed["funding_object_id"] == companies["company_id"], "left") \
            .join(broadcast(people), df_transformed["funding_object_id"] == people["people_id"], "left") \
            .withColumn("funding_object_id",
                        when(col("company_id").isNotNull(), col("company_id"))
                        .otherwise(col("people_id"))) \
            .drop("company_id", "people_id")

        df_null_funding = df_valid.filter(col("funding_object_id").isNull())
        df_null_funding.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL funding_object_id: {df_null_funding.count()}")

        df_invalid = df_valid.filter(col("company_id").isNull() | col("people_id").isNull() | col("funding_object_id").isNull())
        df_valid = df_valid.filter(col("company_id").isNotNull() & col("people_id").isNotNull() & col("funding_object_id").isNotNull())

        if df_invalid.count() > 0:
            invalid_ids = df_invalid.limit(10).toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="funding_rounds")


        # Convert to Pandas & Load to DWH
        df_pandas = df_valid.toPandas().set_index("funding_round_id").drop_duplicates().dropna()
        #df_pandas = df_pandas.dropna(subset=("funding_round_id"))

        upsert(
            con=engine,
            df=df_pandas,
            table_name="dim_funding_rounds",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "dim_funding_rounds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

    except Exception as e:
        log_to_csv({"step": "ETL Process", "status": f"FAILED - {str(e)}", "source": "staging"}, "etl_log.csv")
        raise

In [169]:
# Read from staging
funding_rounds = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "funding_rounds") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [170]:
# Transform Funding Rounds
transform_funding_rounds(funding_rounds)

Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+----------------+---------+---------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+----------+------------------+----------+----------+----------+-------------------+------------+
|funding_round_id|object_id|funded_at|funding_round_type|funding_round_code|raised_amount_usd|raised_amount|raised_currency_code|pre_money_valuation_usd|pre_money_valuation|pre_money_currency_code|post_money_valuation_usd|post_money_valuation|post_money_currency_code|participants|is_first_round|is_last_round|source_url|source_description|created_by|created_at|updated_at|funding_entity_type|funding_date|
+----------------+---------+---------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+----------+------------------+----------+----------+----------+-------------------+------------+
+----------------+---------+---------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+----------+------------------+----------+----------+----------+-------------------+------------+

Total rows with NULL object_id 1: 0
+----------------+---------+----------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+-----------------------------------------------------------------------------------------------------+-------------------------------------------------------------------+----------------+-------------------+-------------------+-------------------+------------+
|funding_round_id|object_id|funded_at |funding_round_type|funding_round_code|raised_amount_usd|raised_amount|raised_currency_code|pre_money_valuation_usd|pre_money_valuation|pre_money_currency_code|post_money_valuation_usd|post_money_valuation|post_money_currency_code|participants|is_first_round|is_last_round|source_url                                                                                           |source_description                                                 |created_by      |created_at         |updated_at         |funding_entity_type|funding_date|
+----------------+---------+----------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+-----------------------------------------------------------------------------------------------------+-------------------------------------------------------------------+----------------+-------------------+-------------------+-------------------+------------+
|1               |4        |2006-12-01|series-b          |b                 |8500000.00       |8500000.00   |USD                 |0.00                   |0.00               |NULL                   |0.00                    |0.00                |NULL                    |2           |false         |false        |http://www.marketingvox.com/archives/2006/12/29/digg-gets-85mm-in-funding/                           |NULL                                                               |initial-importer|2007-07-04 04:52:57|2008-02-27 23:14:29|c                  |2006-12-01  |
|2               |5        |2004-09-01|angel             |angel             |500000.00        |500000.00    |USD                 |0.00                   |0.00               |USD                    |0.00                    |0.00                |USD                     |2           |false         |false        |NULL                                                                                                 |NULL                                                               |initial-importer|2007-05-27 06:08:18|2013-06-28 20:07:23|c                  |2004-09-01  |
|3               |5        |2005-05-01|series-a          |a                 |12700000.00      |12700000.00  |USD                 |115000000.00           |115000000.00       |USD                    |0.00                    |0.00                |USD                     |3           |false         |false        |http://www.techcrunch.com/2007/11/02/jim-breyer-extra-500-million-round-for-facebook-a-total-fiction/|Jim Breyer: Extra $500 Million Round For Facebook A "Total Fiction"|initial-importer|2007-05-27 06:09:10|2013-06-28 20:07:23|c                  |2005-05-01  |
|4               |5        |2006-04-01|series-b          |b                 |27500000.00      |27500000.00  |USD                 |525000000.00           |525000000.00       |USD                    |0.00                    |0.00                |USD                     |4           |false         |false        |http://www.facebook.com/press/info.php?factsheet                                                     |Facebook Funding                                                   |initial-importer|2007-05-27 06:09:36|2013-06-28 20:07:24|c                  |2006-04-01  |
|5               |7299     |2006-05-01|series-b          |b                 |10500000.00      |10500000.00  |USD                 |0.00                   |0.00               |NULL                   |0.00                    |0.00                |NULL                    |2           |false         |false        |http://www.techcrunch.com/2006/05/14/photobucket-closes-105-from-trinity-ventures/                   |PhotoBucket Closes $10.5M From Trinity Ventures                    |initial-importer|2007-05-29 11:05:59|2008-04-16 17:09:12|c                  |2006-05-01  |
+----------------+---------+----------+------------------+------------------+-----------------+-------------+--------------------+-----------------------+-------------------+-----------------------+------------------------+--------------------+------------------------+------------+--------------+-------------+-----------------------------------------------------------------------------------------------------+-------------------------------------------------------------------+----------------+-------------------+-------------------+-------------------+------------+
only showing top 5 rows

Total rows with NULL object_id 1: 50182
Log written to /home/jovyan/work/logs/etl_log.csv
+----------------+-------------------+-----------------+----------+------------+---------------+-------------+-----------------+------------------+-------------------+-----------------------+-------------------+--------------------+------------------------+------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+-------------------+-------------------+
|funding_round_id|funding_entity_type|funding_object_id|round_type|funding_date|raised_currency|raised_amount|raised_amount_usd|pre_money_currency|pre_money_valuation|pre_money_valuation_usd|post_money_currency|post_money_valuation|post_money_valuation_usd|participants|source_url                                                                                                   |source_description                                               |created_at         |updated_at         |
+----------------+-------------------+-----------------+----------+------------+---------------+-------------+-----------------+------------------+-------------------+-----------------------+-------------------+--------------------+------------------------+------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+-------------------+-------------------+
|417             |c                  |NULL             |series-b  |2007-08-01  |USD            |4500000.00   |4500000.00       |USD               |0.00               |0.00                   |USD                |0.00                |0.00                    |1           |http://www.paidcontent.org/entry/419-hip-hop-influenced-personalized-start-page-globalgrind-gets-45-million-/|Unknown                                                          |2007-08-22 09:23:01|2008-06-11 02:08:24|
|633             |c                  |NULL             |angel     |2007-07-01  |USD            |0.00         |0.00             |USD               |0.00               |0.00                   |USD                |0.00                |0.00                    |1           |http://www.idgvb.com/newsitem.cfm?id=208                                                                     |Unknown                                                          |2007-09-05 17:58:20|2008-05-20 01:54:35|
|833             |c                  |NULL             |series-a  |1999-01-01  |USD            |300000.00    |300000.00        |USD               |0.00               |0.00                   |USD                |0.00                |0.00                    |2           |Unknown                                                                                                      |Unknown                                                          |2007-11-26 12:44:27|2008-05-08 05:28:54|
|874             |c                  |NULL             |angel     |2007-06-01  |USD            |0.00         |0.00             |USD               |0.00               |0.00                   |USD                |0.00                |0.00                    |1           |Unknown                                                                                                      |Unknown                                                          |2007-11-03 11:21:13|2011-10-23 04:04:39|
|883             |c                  |NULL             |series-a  |2007-10-31  |USD            |3150000.00   |3150000.00       |USD               |0.00               |0.00                   |USD                |0.00                |0.00                    |0           |http://venturebeat.com/2007/10/31/investors-still-betting-on-online-video-mdialouge-snags-315-million/       |Investors still betting on online video mDialog snags 315 million|2007-11-05 21:28:45|2008-06-06 19:49:53|
+----------------+-------------------+-----------------+----------+------------+---------------+-------------+-----------------+------------------+-------------------+-----------------------+-------------------+--------------------+------------------------+------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+-------------------+-------------------+
only showing top 5 rows

Total rows with NULL funding_object_id: 38223
Error saving invalid IDs from table 'funding_rounds': 2 columns passed, passed data had 19 columns
Log written to /home/jovyan/work/logs/etl_log.csv

### Relationship Data - Fact

In [182]:
from pyspark.sql.functions import col, to_date, broadcast, to_timestamp
from datetime import datetime

def transform_relationship(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Step 1: Format data type
        df = df.withColumn("start_at", to_date(col("start_at")))
        df = df.withColumn("end_at", to_date(col("end_at")))
        df = df.withColumn("created_at", to_timestamp(col("created_at")))
        df = df.withColumn("updated_at", to_timestamp(col("updated_at")))

        # Extract prefix and ID, normalize
        df = df.withColumn("people_entity_type", extract_prefix(col("person_object_id")))
        df = df.withColumn("relationship_entity_type", extract_prefix(col("relationship_object_id")))
        df = df.withColumn("people_object_id", extract_id(col("person_object_id")))
        df = df.withColumn("relationship_object_id", extract_id(col("relationship_object_id")))
        df = df.withColumn("title", normalize_text(col("title")))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        df_null_1 = df.filter(col("people_object_id").isNull())
        df_null_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_null_1.count()}")

        df_null_2 = df.filter(col("relationship_object_id").isNull())
        df_null_2.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 2: {df_null_1.count()}")

        df_notnull_1 = df.filter(col("people_object_id").isNotNull())
        df_notnull_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_notnull_1.count()}")

        df_notnull_2 = df.filter(col("relationship_object_id").isNotNull())
        df_notnull_2.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 2: {df_notnull_1.count()}")
        

        # âœ… Step 3: Mapping to target column
        df_transformed = df.select(
            col("relationship_id"),
            col("people_entity_type").alias("people_entity_type"),
            col("people_object_id").alias("people_object_id"),
            col("relationship_entity_type").alias("relationship_entity_type"),
            col("relationship_object_id").alias("relationship_object_id"),
            col("start_at").alias("start_at"),
            col("end_at").alias("end_at"),
            col("title").alias("title"),
            col("created_at").alias("created_at"),
            col("updated_at").alias("updated_at")
        )
        
        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 5: Handle null values
        df_transformed = df_transformed.fillna({
            "title": "Unknown"
        })

        # âœ… Step 6: Drop duplicates dan data yang tidak valid
        # Fix dropna and dropDuplicates
        df_transformed = df_transformed.dropDuplicates(["relationship_id"])

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Load dim_company dan dim_people untuk validasi
        companies = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("company_id"))

        people = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_people") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("people_id"))

        # Validasi funded_object_id
        df_valid = df_transformed \
            .join(broadcast(companies), df_transformed["relationship_object_id"] == companies["company_id"], "left") \
            .join(broadcast(people), df_transformed["people_object_id"] == people["people_id"], "left") \
            .withColumn("relationship_object_id",
                        when(col("company_id").isNotNull(), col("company_id"))
                        .otherwise(col("people_id"))) \
            .drop("company_id", "people_id")

        df_null_relationship = df_valid.filter(col("relationship_object_id").isNull())
        df_null_relationship.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL funding_object_id: {df_null_relationship.count()}")

        df_invalid = df_valid.filter(col("company_id").isNull() | col("people_id").isNull() | col("people_object_id").isNull() | col("relationship_object_id").isNull())
        df_valid = df_valid.filter(col("company_id").isNotNull() & col("people_id").isNotNull() & col("people_object_id").isNotNull() & col("relationship_object_id").isNotNull())

        if df_invalid.count() > 0:
            invalid_ids = df_invalid.limit(10).toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="relationship")


        # Convert to Pandas & Load to DWH
        df_pandas = df_valid.toPandas().set_index("relationship_id").drop_duplicates().dropna()
        
        
        upsert(
            con=engine,
            df=df_pandas,
            table_name="fact_relationship",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "fact_relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
    
    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "fact_relationship",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

    print("âœ… Relationship data successfully loaded to warehouse")

In [183]:
# Baca data dari staging
relationship = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "relationship") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [184]:

# Transform Relationship Data
transform_relationship(relationship)

Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+
|relationship_id|person_object_id|relationship_object_id|start_at|end_at|is_past|sequence|title|created_at|updated_at|people_entity_type|relationship_entity_type|people_object_id|
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+

Total rows with NULL object_id 1: 0
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+
|relationship_id|person_object_id|relationship_object_id|start_at|end_at|is_past|sequence|title|created_at|updated_at|people_entity_type|relationship_entity_type|people_object_id|
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+
+---------------+----------------+----------------------+--------+------+-------+--------+-----+----------+----------+------------------+------------------------+----------------+

Total rows with NULL object_id 2: 0
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
|relationship_id|person_object_id|relationship_object_id|start_at  |end_at    |is_past|sequence|title                              |created_at         |updated_at         |people_entity_type|relationship_entity_type|people_object_id|
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
|1              |p:2             |1                     |NULL      |NULL      |false  |8       |cofounder ceo board of directors   |2007-05-25 07:03:54|2013-06-03 09:58:46|p                 |c                       |2               |
|2              |p:3             |1                     |NULL      |NULL      |false  |279242  |vp marketing                       |2007-05-25 07:04:16|2010-05-21 16:31:34|p                 |c                       |3               |
|3              |p:4             |3                     |NULL      |NULL      |false  |4       |evangelist                         |2007-05-25 19:33:03|2013-06-29 13:36:58|p                 |c                       |4               |
|4              |p:5             |3                     |2006-03-01|2009-12-01|false  |4       |senior director strategic alliances|2007-05-25 19:34:53|2013-06-29 10:25:34|p                 |c                       |5               |
|6              |p:7             |4                     |2005-07-01|2010-04-05|false  |1       |chief executive officer            |2007-05-25 20:05:33|2010-04-05 18:41:41|p                 |c                       |7               |
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
only showing top 5 rows

Total rows with NULL object_id 1: 134726
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
|relationship_id|person_object_id|relationship_object_id|start_at  |end_at    |is_past|sequence|title                              |created_at         |updated_at         |people_entity_type|relationship_entity_type|people_object_id|
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
|1              |p:2             |1                     |NULL      |NULL      |false  |8       |cofounder ceo board of directors   |2007-05-25 07:03:54|2013-06-03 09:58:46|p                 |c                       |2               |
|2              |p:3             |1                     |NULL      |NULL      |false  |279242  |vp marketing                       |2007-05-25 07:04:16|2010-05-21 16:31:34|p                 |c                       |3               |
|3              |p:4             |3                     |NULL      |NULL      |false  |4       |evangelist                         |2007-05-25 19:33:03|2013-06-29 13:36:58|p                 |c                       |4               |
|4              |p:5             |3                     |2006-03-01|2009-12-01|false  |4       |senior director strategic alliances|2007-05-25 19:34:53|2013-06-29 10:25:34|p                 |c                       |5               |
|6              |p:7             |4                     |2005-07-01|2010-04-05|false  |1       |chief executive officer            |2007-05-25 20:05:33|2010-04-05 18:41:41|p                 |c                       |7               |
+---------------+----------------+----------------------+----------+----------+-------+--------+-----------------------------------+-------------------+-------------------+------------------+------------------------+----------------+
only showing top 5 rows

Total rows with NULL object_id 2: 134726
Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+---------------+------------------+----------------+------------------------+----------------------+----------+------+---------+-------------------+-------------------+
|relationship_id|people_entity_type|people_object_id|relationship_entity_type|relationship_object_id|start_at  |end_at|title    |created_at         |updated_at         |
+---------------+------------------+----------------+------------------------+----------------------+----------+------+---------+-------------------+-------------------+
|100021         |p                 |81401           |c                       |NULL                  |NULL      |NULL  |cofounder|2011-01-30 23:40:42|2011-02-17 01:57:01|
|100062         |p                 |81445           |c                       |NULL                  |2010-06-01|NULL  |coo      |2011-01-31 13:20:39|2011-02-01 03:39:19|
|100070         |p                 |81456           |c                       |NULL                  |NULL      |NULL  |ceo      |2011-01-31 15:36:25|2011-02-01 03:39:37|
|100128         |p                 |81509           |c                       |NULL                  |NULL      |NULL  |cofounder|2011-01-31 21:39:09|2011-02-01 01:49:28|
|100129         |p                 |81510           |c                       |NULL                  |NULL      |NULL  |cofounder|2011-01-31 21:39:09|2011-02-01 01:49:28|
+---------------+------------------+----------------+------------------------+----------------------+----------+------+---------+-------------------+-------------------+
only showing top 5 rows

Total rows with NULL funding_object_id: 87786
Error saving invalid IDs from table 'relationship': 2 columns passed, passed data had 10 columns
Log written to /home/jovyan/work/logs/etl_log.csv
âœ… Relationship data successfully loaded to warehouse

### IPO Data - Fact

In [39]:
from pyspark.sql.functions import col, to_date, broadcast, to_timestamp
from datetime import datetime

def transform_ipo(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "ipo",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Step 1: Format data type
        df = df.withColumn("public_at", to_date(col("public_at")))

        # Extract prefix and ID, normalize
        df = df.withColumn("ipo_entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("ipo_object_id", extract_id(col("object_id")))
        df = df.withColumn("stock_market", extract_stock_market(col("stock_symbol")))
        df = df.withColumn("stock_symbol", extract_stock_symbol(col("stock_symbol")))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "ipo",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        df_null_1 = df.filter(col("ipo_object_id").isNull())
        df_null_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_null_1.count()}")


        df_notnull_1 = df.filter(col("ipo_object_id").isNotNull())
        df_notnull_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_notnull_1.count()}")

        

        # âœ… Step 3: Mapping to target column
        df_transformed = df.select(
            col("ipo_id").alias("ipo_id"),
            col("ipo_entity_type").alias("ipo_entity_type"),
            col("ipo_object_id").alias("ipo_object_id"),
            col("valuation_currency_code").alias("valuation_currency"),
            col("valuation_amount").alias("valuation_amount"),
            col("raised_currency_code").alias("raised_currency"),
            col("raised_amount").alias("raised_amount"),
            col("public_at").alias("public_at"),
            col("stock_market").alias("stock_market"),
            col("stock_symbol").alias("stock_symbol"),
            col("source_url").alias("source_url"),
            col("source_description").alias("source_description"),
            col("created_at").alias("created_at"),
            col("updated_at").alias("updated_at")
        )
        
        log_to_csv({
            "step": "Map Data",
            "status": f"SUCCESS ({df_transformed.count()} rows)",
            "source": "staging",
            "table_name": "ipo",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # âœ… Step 5: Handle null values
        df_transformed = df_transformed.fillna({
            "valuation_amount": 0.0,
            "valuation_currency": "USD",
            "raised_amount": 0.0,
            "raised_currency": "USD",
            "stock_market": "N/A",
            "stock_symbol": "N/A",
            "source_url": "Unknown",
            "source_description": "Unknown"
        })

        # âœ… Step 6: Drop duplicates dan data yang tidak valid
        # dropDuplicates
        df_transformed = df_transformed.dropDuplicates(["ipo_id"])

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "ipos",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Load dim_company dan dim_people untuk validasi
        companies = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("company_id"))

        people = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_people") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("people_id"))

        # Validasi funded_object_id
        df_valid = df_transformed \
            .join(broadcast(companies), df_transformed["ipo_object_id"] == companies["company_id"], "left") \
            .join(broadcast(people), df_transformed["ipo_object_id"] == people["people_id"], "left") \
            .withColumn("ipo_object_id",
                        when(col("company_id").isNotNull(), col("company_id"))
                        .otherwise(col("people_id"))) \
            .drop("company_id", "people_id")

        df_null_ipo = df_valid.filter(col("ipo_object_id").isNull())
        df_null_ipo.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id: {df_null_ipo.count()}")

        df_invalid = df_valid.filter(col("company_id").isNull() | col("people_id").isNull() | col("ipo_object_id").isNull())
        df_valid = df_valid.filter(col("company_id").isNotNull() & col("people_id").isNotNull() & col("ipo_object_id").isNotNull())

        if df_invalid.count() > 0:
            invalid_ids = df_invalid.limit(10).toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="ipo")


        # Convert to Pandas & Load to DWH
        df_pandas = df_valid.toPandas().set_index("ipo_id").drop_duplicates().dropna()
        
        
        upsert(
            con=engine,
            df=df_pandas,
            table_name="fact_ipo",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "fact_ipo",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
    
    except Exception as e:
        log_to_csv({
            "step": "ETL Process",
            "status": f"FAILED - {str(e)}",
            "source": "staging",
            "table_name": "fact_ipo",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        raise

    print("âœ… The data is successfully loaded to warehouse")

In [40]:
# Read from staging
ipo = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "ipo") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [41]:
# Transform IPO Data
transform_ipo(ipo)

Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+------+---------+----------------+-----------------------+-------------+--------------------+---------+------------+----------+------------------+----------+----------+---------------+-------------+------------+
|ipo_id|object_id|valuation_amount|valuation_currency_code|raised_amount|raised_currency_code|public_at|stock_symbol|source_url|source_description|created_at|updated_at|ipo_entity_type|ipo_object_id|stock_market|
+------+---------+----------------+-----------------------+-------------+--------------------+---------+------------+----------+------------------+----------+----------+---------------+-------------+------------+
+------+---------+----------------+-----------------------+-------------+--------------------+---------+------------+----------+------------------+----------+----------+---------------+-------------+------------+

Total rows with NULL object_id 1: 0
+------+---------+----------------+-----------------------+-------------+--------------------+----------+------------+----------+------------------+-------------------+-------------------+---------------+-------------+------------+
|ipo_id|object_id|valuation_amount|valuation_currency_code|raised_amount|raised_currency_code|public_at |stock_symbol|source_url|source_description|created_at         |updated_at         |ipo_entity_type|ipo_object_id|stock_market|
+------+---------+----------------+-----------------------+-------------+--------------------+----------+------------+----------+------------------+-------------------+-------------------+---------------+-------------+------------+
|1     |c:1654   |0.00            |USD                    |0.00         |USD                 |1980-12-19|AAPL        |NULL      |NULL              |2008-02-09 05:17:45|2012-04-12 04:02:59|c              |1654         |NASDAQ      |
|2     |c:1242   |0.00            |USD                    |0.00         |NULL                |1986-03-13|MSFT        |NULL      |NULL              |2008-02-09 05:25:18|2010-12-11 12:39:46|c              |1242         |NASDAQ      |
|3     |c:342    |0.00            |USD                    |0.00         |NULL                |1969-06-09|DIS         |NULL      |NULL              |2008-02-09 05:40:32|2010-12-23 08:58:16|c              |342          |NYSE        |
|4     |c:59     |0.00            |USD                    |0.00         |NULL                |2004-08-25|GOOG        |NULL      |NULL              |2008-02-10 22:51:24|2011-08-01 20:47:08|c              |59           |NASDAQ      |
|5     |c:317    |100000000000.00 |USD                    |0.00         |NULL                |1997-05-01|AMZN        |NULL      |NULL              |2008-02-10 23:28:09|2011-08-01 21:11:22|c              |317          |NASDAQ      |
+------+---------+----------------+-----------------------+-------------+--------------------+----------+------------+----------+------------------+-------------------+-------------------+---------------+-------------+------------+
only showing top 5 rows

Total rows with NULL object_id 1: 1194
Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+------+---------------+-------------+------------------+----------------+---------------+-------------+----------+------------+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+-------------------+-------------------+
|ipo_id|ipo_entity_type|ipo_object_id|valuation_currency|valuation_amount|raised_currency|raised_amount|public_at |stock_market|stock_symbol|source_url                                                                                                                                                                                                                                            |source_description                               |created_at         |updated_at         |
+------+---------------+-------------+------------------+----------------+---------------+-------------+----------+------------+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+-------------------+-------------------+
|1     |c              |NULL         |USD               |0.00            |USD            |0.00         |1980-12-19|NASDAQ      |AAPL        |Unknown                                                                                                                                                                                                                                               |Unknown                                          |2008-02-09 05:17:45|2012-04-12 04:02:59|
|1001  |c              |NULL         |USD               |0.00            |USD            |60000000.00  |2013-07-01|NASDAQ      |MBII        |http://pevc.dowjones.com/article?an=DJFVW00020130701e971u5v7j&from=alert&pid=32&ReturnUrl=http%3a%2f%2fpevc.dowjones.com%2farticle%3fan%3dDJFVW00020130701e971u5v7j%26from%3dalert%26pid%3d32                                                         |Marrone Bio Innovations Files IPO                |2013-07-02 04:22:10|2013-07-02 04:22:50|
|1004  |c              |NULL         |USD               |0.00            |USD            |0.00         |NULL      |OTC         |AVTC        |Unknown                                                                                                                                                                                                                                               |Unknown                                          |2013-07-04 03:34:46|2013-07-04 03:34:46|
|1008  |c              |NULL         |USD               |0.00            |USD            |0.00         |2011-01-05|OTC         |ALQA        |Unknown                                                                                                                                                                                                                                               |Unknown                                          |2013-07-08 12:36:54|2013-11-08 03:28:31|
|1009  |c              |NULL         |USD               |0.00            |USD            |128000000.00 |2013-08-08|NASDAQ      |FOXF        |http://www.bizjournals.com/sanjose/news/2013/08/08/fox-raises-128m-in-public-market-debut.html?ana=RSS&s=article_search&utm_source=twitterfeed&utm_medium=twitter&utm_campaign=Feed%3A+bizj_sanjose+%28Silicon+Valley+%2F+San+Jose+Business+Journal%29|Fox raises $128M in public debut, ends day up 24%|2013-07-09 04:24:09|2013-08-09 03:18:34|
+------+---------------+-------------+------------------+----------------+---------------+-------------+----------+------------+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+-------------------+-------------------+
only showing top 5 rows

Total rows with NULL object_id: 841
Error saving invalid IDs from table 'ipo': 2 columns passed, passed data had 14 columns
Log written to /home/jovyan/work/logs/etl_log.csv
âœ… The data is successfully loaded to warehouse

### Funds Data

In [60]:
from pyspark.sql.functions import col, to_date, broadcast, when, lit
from pyspark.sql.types import IntegerType, StringType
from datetime import datetime

def transform_funds(df):
    try:
        log_to_csv({
            "step": "Transform",
            "status": "STARTED",
            "source": "Staging",
            "table_name": "funds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Step 1: Replace "" to null
        df = df.na.replace("", None)

        # Extract prefix and ID (pastikan fungsi ini sudah didefinisikan)
        df = df.withColumn("fund_entity_type", extract_prefix(col("object_id")))
        df = df.withColumn("fund_object_id", extract_id(col("object_id")))
        df = df.withColumn("object_id", col("object_id").cast(IntegerType()))
        
        # Format data type
        df = df.withColumn("funding_date", to_date(col("funded_at")))

        log_to_csv({
            "step": "Format Data",
            "status": f"SUCCESS ({df.count()} rows)",
            "source": "staging",
            "table_name": "funds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        df_null_1 = df.filter(col("fund_object_id").isNull())
        df_null_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_null_1.count()}")

        df_notnull_1 = df.filter(col("fund_object_id").isNotNull())
        df_notnull_1.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL object_id 1: {df_notnull_1.count()}")

        # Step 2: Mapping to target column
        df_transformed = df.select(
            col("fund_id"),
            col("fund_entity_type"),
            col("fund_object_id").alias("fund_object_id"),
            col("name").alias("fund_name"),
            col("funding_date").alias("funding_date"),
            col("raised_currency_code").alias("raised_currency"),
            col("raised_amount"),
            col("source_url"),
            col("source_description"),
            col("created_at"),
            col("updated_at")
        )

        # Handle null values
        df_transformed = df_transformed.fillna({
            "raised_currency": "USD",
            "raised_amount": 0.0,
            "source_url": "Unknown",
            "source_description": "Unknown"
        })

        # Drop duplicates dan invalid data
        df_transformed = df_transformed.dropDuplicates(["fund_id"])
        df_transformed = df_transformed.na.drop(subset=["funding_date"])

        df_transformed = df_transformed.withColumn(
            "source_url", when(col("source_url").rlike(r"^(http|https)://.*"), col("source_url")).otherwise("Unknown")
        )
        df_transformed = df_transformed.withColumn(
            "source_description", clean_alpha_text("source_description")
        )

        log_to_csv({
            "step": "Clean Data",
            "status": f"SUCCESS ({df_transformed.count()} rows after cleansing)",
            "source": "staging",
            "table_name": "funds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        # Load dim_company dan dim_people untuk validasi
        companies = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_company") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("company_id"))

        people = spark.read.format("jdbc") \
            .option("url", DWH_URL) \
            .option("dbtable", "dim_people") \
            .option("user", DWH_USER) \
            .option("password", DWH_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load().select(col("people_id"))

        # Validasi funded_object_id
        df_valid = df_transformed \
            .join(broadcast(companies), df_transformed["fund_object_id"] == companies["company_id"], "left") \
            .join(broadcast(people), df_transformed["fund_object_id"] == people["people_id"], "left") \
            .withColumn("fund_object_id",
                        when(col("company_id").isNotNull(), col("company_id"))
                        .otherwise(col("people_id"))) \
            .drop("company_id", "people_id")

        df_null_fund = df_valid.filter(col("fund_object_id").isNull())
        df_null_fund.show(5, truncate=False)  # Lihat beberapa contoh baris yang menyebabkan error
        print(f"Total rows with NULL fund_object_id: {df_null_fund.count()}")

        df_invalid = df_valid.filter(col("company_id").isNull() | col("people_id").isNull() | col("fund_object_id").isNull())
        df_valid = df_valid.filter(col("company_id").isNotNull() & col("people_id").isNotNull() & col("fund_object_id").isNotNull())

        if df_invalid.count() > 0:
            invalid_ids = df_invalid.limit(10).toPandas().values.tolist()
            save_invalid_ids(invalid_ids, table_name="funds")


        # Convert to Pandas & Load to DWH
        df_pandas = df_valid.toPandas().set_index("fund_id").drop_duplicates().dropna()

        upsert(
            con=engine,
            df=df_pandas,
            table_name="dim_funds",
            if_row_exists="update"
        )

        log_to_csv({
            "step": "Load to DWH",
            "status": "SUCCESS",
            "source": "staging",
            "table_name": "dim_funds",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

    except Exception as e:
        log_to_csv({"step": "ETL Process", "status": f"FAILED - {str(e)}", "source": "staging"}, "etl_log.csv")
        raise

    print("âœ… The data is successfully loaded to warehouse")

In [61]:
# Read from staging
funds = spark.read \
    .format("jdbc") \
    .option("url", DB_STAGING_URL) \
    .option("dbtable", "funds") \
    .option("user", DB_STAGING_USER) \
    .option("password", DB_STAGING_PASS) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [62]:
# Transform funds Data
transform_funds(funds)

Log written to /home/jovyan/work/logs/etl_log.csv
Log written to /home/jovyan/work/logs/etl_log.csv
+-------+---------+----+---------+-------------+--------------------+----------+------------------+----------+----------+----------------+--------------+------------+
|fund_id|object_id|name|funded_at|raised_amount|raised_currency_code|source_url|source_description|created_at|updated_at|fund_entity_type|fund_object_id|funding_date|
+-------+---------+----+---------+-------------+--------------------+----------+------------------+----------+----------+----------------+--------------+------------+
+-------+---------+----+---------+-------------+--------------------+----------+------------------+----------+----------+----------------+--------------+------------+

Total rows with NULL object_id 1: 0
+-------+---------+--------------------------+----------+-------------+--------------------+-------------------------------------------------------------------------------------------+-----------------------------------------------------------+-------------------+-------------------+----------------+--------------+------------+
|fund_id|object_id|name                      |funded_at |raised_amount|raised_currency_code|source_url                                                                                 |source_description                                         |created_at         |updated_at         |fund_entity_type|fund_object_id|funding_date|
+-------+---------+--------------------------+----------+-------------+--------------------+-------------------------------------------------------------------------------------------+-----------------------------------------------------------+-------------------+-------------------+----------------+--------------+------------+
|1      |NULL     |Second Fund               |2008-12-16|300000000.00 |USD                 |http://www.pehub.com/26194/dfj-dragon-raising-second-fund/                                 |peHub                                                      |2008-12-17 03:07:16|2008-12-17 03:07:16|f               |371           |2008-12-16  |
|4      |NULL     |Sequoia Israel Fourth Fund|2008-12-17|200750000.00 |USD                 |http://www.pehub.com/26725/sequoia-israel-raises-fourth-fund/                              |Sequoia Israel Raises Fourth Fund                          |2008-12-18 22:04:42|2008-12-18 22:04:42|f               |17            |2008-12-17  |
|5      |NULL     |Tenth fund                |2008-08-11|650000000.00 |USD                 |http://venturebeat.com/2008/08/11/interwest-closes-650m-fund/                              |Venture Beat                                               |2008-12-31 09:47:51|2008-12-31 09:47:51|f               |951           |2008-08-11  |
|6      |NULL     |New funds acquire         |NULL      |625000000.00 |USD                 |http://venturebeat.com/2008/07/28/us-venture-partners-raises-625m-fund-for-new-investments/|U.S. Venture Partners raises $625M fund for new investments|2009-01-01 18:13:44|2009-01-01 18:16:27|f               |192           |NULL        |
|7      |NULL     |Third fund                |2008-05-20|200000000.00 |USD                 |http://venturebeat.com/2008/05/20/disneys-steamboat-ventures-looking-to-raise-200m-fund/   |Venture Beat                                               |2009-01-03 09:51:58|2013-09-03 16:34:54|f               |519           |2008-05-20  |
+-------+---------+--------------------------+----------+-------------+--------------------+-------------------------------------------------------------------------------------------+-----------------------------------------------------------+-------------------+-------------------+----------------+--------------+------------+
only showing top 5 rows

Total rows with NULL object_id 1: 1493
Log written to /home/jovyan/work/logs/etl_log.csv
+-------+----------------+--------------+------------------------------+------------+---------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------------+-------------------+
|fund_id|fund_entity_type|fund_object_id|fund_name                     |funding_date|raised_currency|raised_amount|source_url                                                                                                                                                                                        |source_description                                 |created_at         |updated_at         |
+-------+----------------+--------------+------------------------------+------------+---------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------------+-------------------+
|1005   |f               |NULL          |Serent Capital II             |2013-01-30  |USD            |350000000.00 |http://www.finsmes.com/2013/01/serent-capital-closes-fund-350m.html                                                                                                                               |Serent Capital Closes Second Fund at 350M          |2013-01-31 02:50:10|2013-01-31 02:50:10|
|101    |f               |NULL          |Emerald Stage2 Ventures, LP   |2008-03-05  |USD            |15000000.00  |http://philadelphia.bizjournals.com/philadelphia/stories/2008/07/07/story7.html                                                                                                                   |Emerald Stage2 Ventures making its mark            |2009-11-03 00:05:11|2009-11-03 01:53:16|
|1015   |f               |NULL          |Ambienta II                   |2013-10-29  |EUR            |147200000.00 |http://www.finsmes.com/2013/10/ambienta-holds-closes-fund-e147-2m.html                                                                                                                            |Ambienta Holds First Closes of Second Fund at 1472M|2013-02-08 23:09:32|2013-10-30 06:11:59|
|1016   |f               |NULL          |DWHP III                      |2013-02-11  |USD            |265000000.00 |http://www.finsmes.com/2013/02/dw-healthcare-partners-closes-fund-265m.html                                                                                                                       |DW Healthcare Partners Closes Third Fund at 265M   |2013-02-12 04:59:32|2013-02-12 04:59:32|
|1030   |f               |NULL          |Accelerator Venture Capital II|2013-02-20  |USD            |25000000.00  |http://pevc.dowjones.com/article?an=DJFVW00020130221e92lt5rh4&from=alert&pid=32&ReturnUrl=http%3a%2f%2fpevc.dowjones.com%3a80%2farticle%3fan%3dDJFVW00020130221e92lt5rh4%26from%3dalert%26pid%3d32|Accelerator Ventures Raising Second Fund           |2013-02-21 03:38:49|2013-02-21 03:38:49|
+-------+----------------+--------------+------------------------------+------------+---------------+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------+-------------------+-------------------+
only showing top 5 rows

Total rows with NULL fund_object_id: 225
Error saving invalid IDs from table 'funds': 2 columns passed, passed data had 11 columns
Log written to /home/jovyan/work/logs/etl_log.csv
âœ… The data is successfully loaded to warehouse