In [1]:
# import library
import pyspark

In [2]:
# check pyspark version
pyspark.__version__

'3.5.0'

In [3]:
# import SparkSession
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
    .builder \
    .appName("Final Project PySpark") \
    .getOrCreate()

In [5]:
spark

## Load and Handle Failure Data

In [6]:
from dotenv import load_dotenv
import os
import pandas as pd

In [7]:
load_dotenv(".env", override=True)

True

In [8]:
ACCESS_KEY_MINIO = os.getenv("ACCESS_KEY_MINIO")
SECRET_KEY_MINIO = os.getenv("SECRET_KEY_MINIO")

In [9]:
!pip install minio

Requirement already satisfied: minio in /opt/conda/lib/python3.11/site-packages (7.2.15)
Requirement already satisfied: certifi in /opt/conda/lib/python3.11/site-packages (from minio) (2023.7.22)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.11/site-packages (from minio) (2.0.7)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.11/site-packages (from minio) (23.1.0)
Requirement already satisfied: pycryptodome in /opt/conda/lib/python3.11/site-packages (from minio) (3.22.0)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.11/site-packages (from minio) (4.8.0)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.11/site-packages (from argon2-cffi->minio) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from argon2-cffi-bindings->argon2-cffi->minio) (1.16.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio) (2.21)

In [10]:
#The Minio libray is used to interact with a MinIO server. 
from minio import Minio

# BytesIO provides a way to work with binary data in memory as if it were a file.
from io import BytesIO

In [11]:
def handle_error(data, bucket_name:str, table_name:str):

    current_date = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    # Initialize MinIO client
    client = Minio('localhost:9000',
                access_key=ACCESS_KEY_MINIO,
                secret_key=SECRET_KEY_MINIO,
                secure=False)

    # Make a bucket if it doesn't exist
    if not client.bucket_exists(bucket_name):
        client.make_bucket(bucket_name)

    # Convert DataFrame to CSV and then to bytes
    csv_bytes = data.to_csv().encode('utf-8')
    csv_buffer = BytesIO(csv_bytes)

    # Upload the CSV file to the bucket
    client.put_object(
        bucket_name=bucket_name,
        object_name=f"{table_name}_{current_date}.csv", #name the fail source name and current etl date
        data=csv_buffer,
        length=len(csv_bytes),
        content_type='application/csv'
    )

    # List objects in the bucket
    objects = client.list_objects(bucket_name, recursive=True)
    for obj in objects:
        print(obj.object_name)

In [12]:
import csv
from datetime import datetime
import json

In [13]:
# INIT LOGS
def log_to_csv(log_msg: dict, filename: str):
    # Ensure the 'logs' directory exists
    log_dir = os.path.join(os.getcwd(), 'logs')
    if not os.path.exists(log_dir):
        os.makedirs(log_dir)

    # Create the full file path inside 'logs'
    file_path = os.path.join(log_dir, filename)

    # Define the column headers
    headers = ["step", "status", "source", "table_name", "etl_date"]

    try:
        # Check if the file exists
        file_exists = os.path.isfile(file_path)

        with open(file_path, mode='a', newline='') as file:
            writer = csv.DictWriter(file, fieldnames=headers)

            # Write the header only if the file doesn't exist
            if not file_exists:
                writer.writeheader()

            # Append the log message
            writer.writerow(log_msg)

        print(f"Log written to {file_path}")
    
    except Exception as e:
        print(f"Error writing log to {file_path}: {e}")

## Extract

### CSV Files

In [14]:
def extract_csv(file_path, table_name):
    try:
        # Read CSV using Spark
        df = spark.read.option("header", "true").csv(file_path)

        # Show extracted data
        df.show()

        # Log success
        log_to_csv({
            "step": "Extract",
            "status": "Success",
            "source": "CSV",
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        return df
    
    except Exception as e:
        # Log failure
        log_to_csv({
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "CSV",
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")

        print(f"Error extracting {file_path}: {e}")
        return None

In [15]:
# Call the extract function
df_people = extract_csv("data/people.csv", "people_data")
df_people.show()

+---------+---------+----------+----------+--------------------+--------------------+
|people_id|object_id|first_name| last_name|          birthplace|    affiliation_name|
+---------+---------+----------+----------+--------------------+--------------------+
|        1|      p:2|       Ben|   Elowitz|                NULL|           Blue Nile|
|        2|      p:3|     Kevin|  Flaherty|                NULL|            Wetpaint|
|        3|      p:4|      Raju|   Vegesna|                NULL|                Zoho|
|        4|      p:5|       Ian|     Wenig|                NULL|                Zoho|
|        5|      p:6|     Kevin|      Rose|         Redding, CA|        i/o Ventures|
|        6|      p:7|       Jay|   Adelson|         Detroit, MI|                Digg|
|        7|      p:8|      Owen|     Byrne|                NULL|                Digg|
|        8|      p:9|       Ron|Gorodetzky|                NULL|                Digg|
|        9|     p:10|      Mark|Zuckerberg|                NULL|            Facebook|
|       10|     p:11|    Dustin| Moskovitz|     Gainesville, FL|            Facebook|
|       11|     p:12|      Owen| Van Natta|                NULL|               Asana|
|       12|     p:13|      Matt|    Cohler|                NULL|            LinkedIn|
|       13|     p:14|     Chris|    Hughes|Hickery, North Ca...|General Catalyst ...|
|       14|     p:16|      Alex|     Welch|                NULL|            C7 Group|
|       15|     p:17|    Darren|   Crystal|                NULL|         Photobucket|
|       16|     p:18|   Michael|     Clark|                NULL|   Photobucket (Old)|
|       17|     p:19|      Greg|    Wimmer|                NULL|         Photobucket|
|       18|     p:20|     Peter|    Foster|                NULL|         Photobucket|
|       19|     p:21|   Heather|      Dana|                NULL|         Photobucket|
|       20|     p:22|     Peter|      Pham|                NULL|   Photobucket, Inc.|
+---------+---------+----------+----------+--------------------+--------------------+
only showing top 20 rows

Log written to /home/jovyan/work/logs/etl_log.csv
+---------+---------+----------+----------+--------------------+--------------------+
|people_id|object_id|first_name| last_name|          birthplace|    affiliation_name|
+---------+---------+----------+----------+--------------------+--------------------+
|        1|      p:2|       Ben|   Elowitz|                NULL|           Blue Nile|
|        2|      p:3|     Kevin|  Flaherty|                NULL|            Wetpaint|
|        3|      p:4|      Raju|   Vegesna|                NULL|                Zoho|
|        4|      p:5|       Ian|     Wenig|                NULL|                Zoho|
|        5|      p:6|     Kevin|      Rose|         Redding, CA|        i/o Ventures|
|        6|      p:7|       Jay|   Adelson|         Detroit, MI|                Digg|
|        7|      p:8|      Owen|     Byrne|                NULL|                Digg|
|        8|      p:9|       Ron|Gorodetzky|                NULL|                Digg|
|        9|     p:10|      Mark|Zuckerberg|                NULL|            Facebook|
|       10|     p:11|    Dustin| Moskovitz|     Gainesville, FL|            Facebook|
|       11|     p:12|      Owen| Van Natta|                NULL|               Asana|
|       12|     p:13|      Matt|    Cohler|                NULL|            LinkedIn|
|       13|     p:14|     Chris|    Hughes|Hickery, North Ca...|General Catalyst ...|
|       14|     p:16|      Alex|     Welch|                NULL|            C7 Group|
|       15|     p:17|    Darren|   Crystal|                NULL|         Photobucket|
|       16|     p:18|   Michael|     Clark|                NULL|   Photobucket (Old)|
|       17|     p:19|      Greg|    Wimmer|                NULL|         Photobucket|
|       18|     p:20|     Peter|    Foster|                NULL|         Photobucket|
|       19|     p:21|   Heather|      Dana|                NULL|         Photobucket|
|       20|     p:22|     Peter|      Pham|                NULL|   Photobucket, Inc.|
+---------+---------+----------+----------+--------------------+--------------------+
only showing top 20 rows

In [16]:
# Call the extract function
df_relations = extract_csv("data/relationships.csv", "relationships_data")
df_relations.show()

+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|relationship_id|person_object_id|relationship_object_id|            start_at|              end_at|is_past|sequence|               title|          created_at|          updated_at|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|              1|             p:2|                   c:1|                NULL|                NULL|  false|       8|Co-Founder/CEO/Bo...|2007-05-25 07:03:...|2013-06-03 09:58:...|
|              2|             p:3|                   c:1|                NULL|                NULL|  false|  279242|        VP Marketing|2007-05-25 07:04:...|2010-05-21 16:31:...|
|              3|             p:4|                   c:3|                NULL|                NULL|  false|       4|          Evangelist|2007-05-25 19:33:...|2013-06-29 13:36:...|
|              4|             p:5|                   c:3|2006-03-01 00:00:...|2009-12-01 00:00:...|  false|       4|Senior Director S...|2007-05-25 19:34:...|2013-06-29 10:25:...|
|              6|             p:7|                   c:4|2005-07-01 00:00:...|2010-04-05 00:00:...|  false|       1|Chief Executive O...|2007-05-25 20:05:...|2010-04-05 18:41:...|
|              7|             p:8|                   c:4|                NULL|                NULL|  false|       1|Senior Software E...|2007-05-25 20:06:...|2010-01-12 01:13:...|
|              8|             p:9|                   c:4|                NULL|                NULL|  false|       1|Systems Engineeri...|2007-05-25 20:07:...|2010-08-03 22:00:...|
|              9|            p:10|                   c:5|                NULL|                NULL|  false|       1|Founder and CEO, ...|2007-05-25 21:51:...|2010-01-25 21:49:...|
|             10|            p:11|                   c:5|                NULL|                NULL|  false|       1|          Co-Founder|2007-05-25 22:15:...|2011-08-11 23:48:...|
|             11|            p:12|                   c:5|                NULL|                NULL|  false|       3|Chief Revenue Off...|2007-05-25 22:15:...|2010-01-25 21:49:...|
|             12|            p:13|                   c:5|                NULL|                NULL|  false|       1|VP of Product Man...|2007-05-25 22:16:...|2010-01-25 21:49:...|
|             13|            p:14|                   c:5|1993-07-04 00:00:...|1982-02-28 00:00:...|  false|       1|          Co-founder|2007-05-25 22:17:...|2010-09-01 18:15:...|
|             14|            p:16|                c:7299|                NULL|                NULL|  false|       2|     Founder and CEO|2007-05-26 12:44:...|2011-07-19 00:05:...|
|             15|            p:17|                c:7299|                NULL|                NULL|  false|       2|  Co-founder and CTO|2007-05-26 12:45:...|2011-07-19 00:05:...|
|             16|            p:18|                c:7299|2005-09-01 00:00:...|2009-10-01 00:00:...|  false|       1|SVP, Technology a...|2007-05-26 12:47:...|2011-07-19 00:05:...|
|             17|            p:19|                c:7299|2006-08-01 00:00:...|2009-08-01 00:00:...|  false|       8|VP, Finance & Adm...|2007-05-26 12:47:...|2011-10-28 03:08:...|
|             18|            p:20|                c:7299|                NULL|                NULL|  false|       1|           VP, Sales|2007-05-26 12:48:...|2011-07-19 00:05:...|
|             19|            p:21|                c:7299|                NULL|                NULL|  false|       1|VP, Customer Service|2007-05-26 12:49:...|2011-07-19 00:05:...|
|             20|            p:22|                c:7299|2005-10-01 00:00:...|2008-03-01 00:00:...|  false|       1|VP, Business Deve...|2007-05-26 12:49:...|2013-08-07 08:51:...|
|             21|            p:23|                c:7299|                NULL|                NULL|  false|       1|     VP, Engineering|2007-05-26 12:50:...|2011-07-19 00:05:...|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

Log written to /home/jovyan/work/logs/etl_log.csv
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|relationship_id|person_object_id|relationship_object_id|            start_at|              end_at|is_past|sequence|               title|          created_at|          updated_at|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|              1|             p:2|                   c:1|                NULL|                NULL|  false|       8|Co-Founder/CEO/Bo...|2007-05-25 07:03:...|2013-06-03 09:58:...|
|              2|             p:3|                   c:1|                NULL|                NULL|  false|  279242|        VP Marketing|2007-05-25 07:04:...|2010-05-21 16:31:...|
|              3|             p:4|                   c:3|                NULL|                NULL|  false|       4|          Evangelist|2007-05-25 19:33:...|2013-06-29 13:36:...|
|              4|             p:5|                   c:3|2006-03-01 00:00:...|2009-12-01 00:00:...|  false|       4|Senior Director S...|2007-05-25 19:34:...|2013-06-29 10:25:...|
|              6|             p:7|                   c:4|2005-07-01 00:00:...|2010-04-05 00:00:...|  false|       1|Chief Executive O...|2007-05-25 20:05:...|2010-04-05 18:41:...|
|              7|             p:8|                   c:4|                NULL|                NULL|  false|       1|Senior Software E...|2007-05-25 20:06:...|2010-01-12 01:13:...|
|              8|             p:9|                   c:4|                NULL|                NULL|  false|       1|Systems Engineeri...|2007-05-25 20:07:...|2010-08-03 22:00:...|
|              9|            p:10|                   c:5|                NULL|                NULL|  false|       1|Founder and CEO, ...|2007-05-25 21:51:...|2010-01-25 21:49:...|
|             10|            p:11|                   c:5|                NULL|                NULL|  false|       1|          Co-Founder|2007-05-25 22:15:...|2011-08-11 23:48:...|
|             11|            p:12|                   c:5|                NULL|                NULL|  false|       3|Chief Revenue Off...|2007-05-25 22:15:...|2010-01-25 21:49:...|
|             12|            p:13|                   c:5|                NULL|                NULL|  false|       1|VP of Product Man...|2007-05-25 22:16:...|2010-01-25 21:49:...|
|             13|            p:14|                   c:5|1993-07-04 00:00:...|1982-02-28 00:00:...|  false|       1|          Co-founder|2007-05-25 22:17:...|2010-09-01 18:15:...|
|             14|            p:16|                c:7299|                NULL|                NULL|  false|       2|     Founder and CEO|2007-05-26 12:44:...|2011-07-19 00:05:...|
|             15|            p:17|                c:7299|                NULL|                NULL|  false|       2|  Co-founder and CTO|2007-05-26 12:45:...|2011-07-19 00:05:...|
|             16|            p:18|                c:7299|2005-09-01 00:00:...|2009-10-01 00:00:...|  false|       1|SVP, Technology a...|2007-05-26 12:47:...|2011-07-19 00:05:...|
|             17|            p:19|                c:7299|2006-08-01 00:00:...|2009-08-01 00:00:...|  false|       8|VP, Finance & Adm...|2007-05-26 12:47:...|2011-10-28 03:08:...|
|             18|            p:20|                c:7299|                NULL|                NULL|  false|       1|           VP, Sales|2007-05-26 12:48:...|2011-07-19 00:05:...|
|             19|            p:21|                c:7299|                NULL|                NULL|  false|       1|VP, Customer Service|2007-05-26 12:49:...|2011-07-19 00:05:...|
|             20|            p:22|                c:7299|2005-10-01 00:00:...|2008-03-01 00:00:...|  false|       1|VP, Business Deve...|2007-05-26 12:49:...|2013-08-07 08:51:...|
|             21|            p:23|                c:7299|                NULL|                NULL|  false|       1|     VP, Engineering|2007-05-26 12:50:...|2011-07-19 00:05:...|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Database

In [17]:
# set variable for database

DB_URL = os.getenv("DB_URL")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")

In [18]:
def extract_from_db():
    try:
        # Get list of tables from the database
        table_list = spark.read \
            .format("jdbc") \
            .option("url", DB_URL) \
            .option("dbtable", "information_schema.tables") \
            .option("user", DB_USER) \
            .option("password", DB_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .filter("table_schema = 'public'") \
            .select("table_name") \
            .rdd.flatMap(lambda x: x).collect()

        print(f"Found tables: {table_list}")

        tables = {}
        for table in table_list:
            try:
                # Read each table into a DataFrame
                df = spark.read \
                    .format("jdbc") \
                    .option("url", DB_URL) \
                    .option("dbtable", table) \
                    .option("user", DB_USER) \
                    .option("password", DB_PASS) \
                    .option("driver", "org.postgresql.Driver") \
                    .load()

                tables[table] = df

                # Log success for each table
                log_to_csv({
                    "step": "Extract",
                    "status": "Success",
                    "source": "PostgreSQL",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")

                print(f"Successfully extracted table: {table}")

            except Exception as e:
                # Log failure for specific table
                log_to_csv({
                    "step": "Extract",
                    "status": f"Failed: {e}",
                    "source": "PostgreSQL",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")
                print(f"Failed to extract table: {table} - Error: {e}")

        return tables
    
    except Exception as e:
        # Log failure for the whole extraction process
        log_to_csv({
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "PostgreSQL",
            "table_name": "N/A",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        print(f"Failed to extract tables: {e}")
        return {}

In [19]:
# Extract all tables
tables = extract_from_db()
print(f"Extracted tables: {list(tables.keys())}")

Found tables: ['company', 'acquisition', 'funding_rounds', 'funds', 'investments', 'ipos']
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: company
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: acquisition
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: funding_rounds
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: funds
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: investments
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: ipos
Extracted tables: ['company', 'acquisition', 'funding_rounds', 'funds', 'investments', 'ipos']

In [20]:
# Read each table
df_acquisition = tables["acquisition"]
df_company = tables["company"]
df_funding_rounds = tables["funding_rounds"]
df_funds = tables["funds"]
df_investments = tables["investments"]
df_ipos = tables["ipos"]

# check
df_company.show()

+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
|office_id|object_id|      description|              region|            address1|  address2|          city|  zip_code|state_code|country_code| latitude|  longitude|         created_at|         updated_at|
+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
|        8|      c:8|                 |              SF Bay|959 Skyway Road, ...|          |    San Carlos|     94070|        CA|         USA|37.506885|-122.247573|2007-01-01 22:19:54|2007-01-01 22:19:54|
|        9|      c:9|     Headquarters|         Los Angeles|9229 W. Sunset Blvd.|          |West Hollywood|     90069|        CA|         USA|34.090368|-118.393064|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       10|     c:10|                 |         Los Angeles|8536 National Blv...|          |   Culver City|     90232|        CA|         USA|34.025958|-118.379768|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       11|     c:11|                 |         Los Angeles|      407 N Maple Dr|          | Beverly Hills|     90210|        CA|         USA|34.076179|-118.394170|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       12|     c:12|                 |              SF Bay|     1355 Market St.|          | San Francisco|     94103|        CA|         USA|37.776805|-122.416924|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       14|     c:14|                 |              SF Bay|                    |          |    Menlo Park|          |        CA|         USA|37.484130|-122.169472|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       15|     c:15|               HQ|              SF Bay|   539 Bryant Street|          | San Francisco|     94107|        CA|         USA|37.789634|-122.404052|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       16|     c:16|                 |           San Diego|16935 W. Bernardo...|          |     San Diego|     92127|        CA|         USA|33.022176|-117.081406|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       17|     c:18|Lala Headquarters|              SF Bay|    209 Hamilton Ave|Suite #200|     Palo Alto|     94301|        CA|         USA|37.451151|-122.154369|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       18|     c:19|                 |         Los Angeles|10960 Wilshire Blvd.| Suite 700|   Los Angeles|     90024|        CA|         USA|34.057498|-118.446596|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       19|     c:20|     Headquarters|              SF Bay|2145 Hamilton Avenue|          |      San Jose|     95125|        CA|         USA|37.295005|-121.930035|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       20|     c:21|                 |United States - O...|                    |          |              |          |          |         USA|37.090240| -95.712891|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       21|     c:22|                 |            New York|                    |          | New York City|          |        NY|         USA|40.757929| -73.985506|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       22|     c:23|                 |            New York|    100 5th Ave Fl 6|          |      New York|10011-6903|        NY|         USA|40.746497| -74.009447|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       23|     c:24|                 |  California - Other|                    |          |              |          |        CA|         USA|37.269175|-119.306607|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       24|     c:25|               HQ|            New York|       1515 Broadway|          |      New York|     10036|        NY|         USA|40.757725| -73.986011|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       25|     c:26|                 |              London|                    |          |        London|          |          |         GBR|53.344104|  -6.267494|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       26|     c:27|               HQ|              SF Bay|1050 Enterprise W...|          |     Sunnyvale|     94089|        CA|         USA|37.387845|-122.055197|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       27|     c:28|     Headquarters|              SF Bay| 170 West Tasman Dr.|          |      San Jose|     95134|        CA|         USA|37.408802|-121.953770|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       28|     c:29|                 |              SF Bay|    701 First Avenue|          |     Sunnyvale|     94089|        CA|         USA|37.418531|-122.025485|2007-01-01 22:19:54|2007-01-01 22:19:54|
+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
only showing top 20 rows

### From API

In [21]:
import requests

In [22]:
def extract_api(link_api: str, list_parameter: dict, data_name: str):
    try:
        # Establish connection to API
        resp = requests.get(link_api, params=list_parameter)
        resp.raise_for_status()  # Raise an exception for HTTP errors

        # Parse the response JSON
        raw_response = resp.json()

        # Convert JSON data to pandas DataFrame
        df_api = pd.DataFrame(raw_response)

        if df_api.empty:
            raise ValueError("Empty response from API")

        # Convert pandas DataFrame to PySpark DataFrame
        spark_df = spark.createDataFrame(df_api)

        # Log success
        log_msg = {
            "step": "Extract",
            "status": "Success",
            "source": "API",
            "table_name": data_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }
        log_to_csv(log_msg, "etl_log.csv")

        print(f"Successfully extracted data from API: {data_name}")
        return spark_df

    except requests.exceptions.RequestException as e:
        # Log request failure
        log_msg = {
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "API",
            "table_name": data_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }
        log_to_csv(log_msg, "etl_log.csv")
        print(f"Request failed: {e}")

    except ValueError as e:
        # Log parsing failure
        log_msg = {
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "API",
            "table_name": data_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }
        log_to_csv(log_msg, "etl_log.csv")
        print(f"Parsing error: {e}")

    except Exception as e:
        # Catch any other errors
        log_msg = {
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "API",
            "table_name": data_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }
        log_to_csv(log_msg, "etl_log.csv")
        print(f"An error occurred: {e}")

    return None

In [23]:
# Extract data from 2008 - 2010
link_api = "https://api-milestones.vercel.app/api/data"
list_parameter = {
    "start_date": "2008-01-01",
    "end_date": "2010-12-31"
}

df_milestones = extract_api(link_api, list_parameter, "milestones")
df_milestones.show()

Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted data from API: milestones
+--------------------+--------------------+------------+--------------+------------+---------+--------------------+--------------------+--------------------+
|          created_at|         description|milestone_at|milestone_code|milestone_id|object_id|  source_description|          source_url|          updated_at|
+--------------------+--------------------+------------+--------------+------------+---------+--------------------+--------------------+--------------------+
|2008-06-18 08:14:...|Survives iPhone 3...|  2008-06-09|         other|           1|     c:12|Twitter Fails To ...|http://www.techcr...|2008-06-18 08:14:...|
|2008-06-18 08:50:...|More than 4 Billi...|  2008-06-18|         other|           3|     c:59|11 Billion Videos...|http://www.comsco...|2008-06-18 08:50:...|
|2008-06-19 04:14:...|Reddit goes Open ...|  2008-06-18|         other|           4|    c:314|reddit goes open ...|http://blog.reddi...|2008-06-19 04:14:...|
|2008-06-19 04:15:...|Adds the ability ...|  2008-01-22|         other|           5|    c:314|Reddit Adds Abili...|http://www.techcr...|2008-06-19 04:15:...|
|2008-06-19 04:39:...|Adobe announced n...|  2008-06-18|         other|           6|    c:283|                 NaN|                 NaN|2008-06-19 04:39:...|
|2008-06-19 08:29:...|Closed release of...|  2008-02-01|         other|           7|   c:6816|                 NaN|                 NaN|2008-06-19 16:55:...|
|2008-06-19 08:29:...|Closed release of...|  2008-05-01|         other|           8|   c:6816|Diary of a Mobile...|http://mobverge.b...|2008-06-19 16:55:...|
|2008-06-19 15:29:...|Scoofers, a new s...|  2008-06-19|         other|           9|   c:5874|Official launch o...|http://scoofers.b...|2008-06-19 19:34:...|
|2008-06-19 17:48:...|Jeremy Zawodny le...|  2008-07-01|         other|          10|   c:2034|I'm Joining Craig...|http://jeremy.zaw...|2008-06-19 17:48:...|
|2008-06-19 18:54:...|SnapLogic release...|  2008-04-23|         other|          11|   c:5085|SnapLogic release...|http://venturebea...|2008-06-19 18:54:...|
|2008-06-20 02:06:...|Joshua Schachter ...|  2008-06-19|         other|          13|     c:75|It Gets Worse: Jo...|http://www.techcr...|2008-06-20 02:06:...|
|2008-06-20 21:19:...|       Bevy Launches|  2008-05-15|         other|          14|   c:6947|            Facebook|http://apps.faceb...|2008-07-18 01:29:...|
|2008-06-22 19:10:...|Twitter partners ...|  2008-06-09|         other|          15|     c:12|Twitter Partners ...|http://www.techcr...|2008-06-22 19:10:...|
|2008-06-22 19:15:...|Launches a status...|  2008-05-28|         other|          16|     c:12|    What's Going On?|http://blog.twitt...|2008-06-22 19:15:...|
|2008-06-22 19:15:...|Twitter Starts Bl...|  2008-05-07|         other|          17|     c:12|Twitter Starts Bl...|http://www.techcr...|2008-06-22 19:15:...|
|2008-06-22 19:17:...|VP Lee Mighdoll L...|  2008-04-24|         other|          18|     c:12|VP Lee Mighdoll O...|http://www.techcr...|2008-06-22 19:17:...|
|2008-06-22 19:19:...|Chief Architect B...|  2008-04-23|         other|          19|     c:12|Amateur Hour Over...|http://www.techcr...|2008-06-22 19:19:...|
|2008-06-22 19:20:...|Twitter Japan Lau...|  2008-04-22|         other|          20|     c:12|Twitter! Japan! Ads!|http://www.techcr...|2008-06-22 19:20:...|
|2008-06-22 19:21:...|Twitter helps bus...|  2008-04-16|         other|          21|     c:12|Twitter Saves Man...|http://www.techcr...|2008-06-23 19:40:...|
|2008-06-23 01:49:...|Sometrics has int...|  2008-06-03|         other|          24|   c:5411|Sometrics Launche...|http://publicatio...|2008-06-23 19:16:...|
+--------------------+--------------------+------------+--------------+------------+---------+--------------------+--------------------+--------------------+
only showing top 20 rows

## Load - Staging

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.utils import AnalysisException

In [25]:
!pip install pangres

Requirement already satisfied: pangres in /opt/conda/lib/python3.11/site-packages (4.2.1)
Requirement already satisfied: pandas>=0.25.3 in /opt/conda/lib/python3.11/site-packages (from pangres) (2.0.3)
Requirement already satisfied: sqlalchemy>=1.3.12 in /opt/conda/lib/python3.11/site-packages (from pangres) (2.0.22)
Requirement already satisfied: alembic>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from pangres) (1.12.0)
Requirement already satisfied: packaging>=21.0 in /opt/conda/lib/python3.11/site-packages (from pangres) (23.2)
Requirement already satisfied: Mako in /opt/conda/lib/python3.11/site-packages (from alembic>=1.3.1->pangres) (1.2.4)
Requirement already satisfied: typing-extensions>=4 in /opt/conda/lib/python3.11/site-packages (from alembic>=1.3.1->pangres) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.25.3->pangres) (1.24.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=1.3.12->pangres) (3.0.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pangres) (1.16.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /opt/conda/lib/python3.11/site-packages (from Mako->alembic>=1.3.1->pangres) (2.1.3)

In [26]:
# set variable for database

DB_STAGING_URL = os.getenv("DB_STAGING_URL")
DB_STAGING_USER = os.getenv("DB_STAGING_USER")
DB_STAGING_PASS = os.getenv("DB_STAGING_PASS")

In [33]:
from pyspark.sql.utils import AnalysisException
from pangres import upsert
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

def load_staging2(df, table_name, mode="overwrite", use_upsert=False, idx_name=None, schema=None, source=None):
    try:
        if use_upsert:
            # Convert Spark DataFrame ke Pandas DataFrame
            data = df.toPandas()

            # Create connection ke PostgreSQL
            conn = create_engine(f"postgresql://{DB_STAGING_USER}:{DB_STAGING_PASS}@host.docker.internal:5432/pyspark_task_staging")

            # Set index untuk upsert (kalau nggak ada, kasih warning)
            if idx_name is None:
                raise ValueError("Index name is required for upsert mode")

            data = data.set_index(idx_name)

            # Lakukan upsert (insert kalau belum ada, update kalau sudah ada)
            upsert(
                con=conn,
                df=data,
                table_name=table_name,
                schema=schema,
                if_row_exists="update"
            )
            print(f"Data upserted to table '{table_name}' successfully!")
        else:
            # Load dengan Spark
            df.write \
                .format("jdbc") \
                .option("url", "jdbc:postgresql://host.docker.internal:5432/pyspark_task_staging") \
                .option("dbtable", table_name) \
                .option("user", DB_STAGING_USER) \
                .option("password", DB_STAGING_PASS) \
                .option("driver", "org.postgresql.Driver") \
                .mode(mode) \
                .save()

            print(f"Data loaded to table '{table_name}' successfully!")

        # Buat success log
        log_msg = {
            "step": "Load Staging",
            "status": "Success",
            "source": "Staging",
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }

    except Exception as e:
        print(f"Error loading data to table '{table_name}': {e}")

        # Buat DataFrame gagal untuk logging
        failed_data = df.toPandas() if not use_upsert else data
        failed_data['error_message'] = str(e)
        failed_data['etl_date'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

        # Buat log gagal
        log_msg = {
            "step": "Load Staging",
            "status": "Failed",
            "source": "Staging",
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
            "error_message": str(e)
        }

        # Save failed data ke CSV
        failed_log_path = f'logs/failed_{table_name}_{datetime.now().strftime("%Y%m%d_%H%M%S")}.csv'
        failed_data.to_csv(failed_log_path, index=False)
        print(f"Failed data saved to: {failed_log_path}")

    finally:
        # Hapus error_message sebelum simpan ke log
        if 'error_message' in log_msg:
            del log_msg['error_message']

        # Simpan log ke CSV
        log_to_csv(log_msg, 'etl_log.csv')

    return df if not use_upsert else data

In [34]:
# from API
load_staging2(df_milestones, "milestones")

Data loaded to table 'milestones' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv

DataFrame[created_at: string, description: string, milestone_at: string, milestone_code: string, milestone_id: bigint, object_id: string, source_description: string, source_url: string, updated_at: string]

In [35]:
# from csv
load_staging2(df_relations, "relationship")
load_staging2(df_people, "people", mode="overwrite")

Data loaded to table 'relationship' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'people' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv

DataFrame[people_id: string, object_id: string, first_name: string, last_name: string, birthplace: string, affiliation_name: string]

In [36]:
# from database

load_staging2(df_acquisition, "acquisition") 
load_staging2(df_funding_rounds, "funding_rounds") 
load_staging2(df_funds, "funds")
load_staging2(df_investments, "investments")
load_staging2(df_ipos, "ipo")
load_staging2(df_company, "company")

Data loaded to table 'acquisition' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'funding_rounds' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'funds' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'investments' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'ipo' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv
Data loaded to table 'company' successfully!
Log written to /home/jovyan/work/logs/etl_log.csv

DataFrame[office_id: int, object_id: string, description: string, region: string, address1: string, address2: string, city: string, zip_code: string, state_code: string, country_code: string, latitude: decimal(9,6), longitude: decimal(9,6), created_at: timestamp, updated_at: timestamp]

## Extract Data from Staging

In [63]:
spark.catalog.clearCache()

In [64]:
# set variable for staging

DB_STAGING_URL = os.getenv("DB_STAGING_URL")
DB_STAGING_USER = os.getenv("DB_STAGING_USER")
DB_STAGING_PASS = os.getenv("DB_STAGING_PASS")

In [65]:
def extract_from_staging():
    try:
        # Get list of tables from staging
        table_list = spark.read \
            .format("jdbc") \
            .option("url", DB_STAGING_URL) \
            .option("dbtable", "(SELECT table_name FROM information_schema.tables WHERE table_schema = 'public') AS tbl") \
            .option("user", DB_STAGING_USER) \
            .option("password", DB_STAGING_PASS) \
            .option("driver", "org.postgresql.Driver") \
            .load() \
            .select("table_name") \
            .rdd.flatMap(lambda x: x).collect()

        print(f"Found tables in staging: {table_list}")

        tables = {}
        for table in table_list:
            try:
                # Read each table into a DataFrame
                df = spark.read \
                    .format("jdbc") \
                    .option("url", DB_STAGING_URL) \
                    .option("dbtable", table) \
                    .option("user", DB_STAGING_USER) \
                    .option("password", DB_STAGING_PASS) \
                    .option("driver", "org.postgresql.Driver") \
                    .load()

                tables[table] = df

                # Log success for each table
                log_to_csv({
                    "step": "Extract",
                    "status": "Success",
                    "source": "PostgreSQL (Staging)",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")

                print(f"Successfully extracted table: {table}")

            except Exception as e:
                # Log failure for specific table
                log_to_csv({
                    "step": "Extract",
                    "status": f"Failed: {e}",
                    "source": "PostgreSQL (Staging)",
                    "table_name": table,
                    "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                }, "etl_log.csv")
                print(f"Failed to extract table: {table} - Error: {e}")

        return tables
    
    except Exception as e:
        # Log failure for the whole extraction process
        log_to_csv({
            "step": "Extract",
            "status": f"Failed: {e}",
            "source": "PostgreSQL (Staging)",
            "table_name": "N/A",
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        }, "etl_log.csv")
        print(f"Failed to extract tables: {e}")
        return {}

In [66]:
# Extract all tables from staging
data = extract_from_staging()
print(f"Extracted tables: {list(data.keys())}")

Found tables in staging: ['investments', 'relationship', 'people', 'ipo', 'company', 'acquisition', 'funding_rounds', 'milestones', 'funds']
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: investments
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: relationship
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: people
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: ipo
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: company
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: acquisition
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: funding_rounds
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: milestones
Log written to /home/jovyan/work/logs/etl_log.csv
Successfully extracted table: funds
Extracted tables: ['investments', 'relationship', 'people', 'ipo', 'company', 'acquisition', 'funding_rounds', 'milestones', 'funds']

In [68]:
# Read All data from staging
acquisition = data["acquisition"]
company = data["company"]
funding_rounds = data["funding_rounds"]
funds = data["funds"]
investments = data["investments"]
ipos = data["ipo"]
milestones = data["milestones"]
people = data["people"]
relationship = data["relationship"]

# check
company.show()

+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
|office_id|object_id|      description|              region|            address1|  address2|          city|  zip_code|state_code|country_code| latitude|  longitude|         created_at|         updated_at|
+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
|        8|      c:8|                 |              SF Bay|959 Skyway Road, ...|          |    San Carlos|     94070|        CA|         USA|37.506885|-122.247573|2007-01-01 22:19:54|2007-01-01 22:19:54|
|        9|      c:9|     Headquarters|         Los Angeles|9229 W. Sunset Blvd.|          |West Hollywood|     90069|        CA|         USA|34.090368|-118.393064|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       10|     c:10|                 |         Los Angeles|8536 National Blv...|          |   Culver City|     90232|        CA|         USA|34.025958|-118.379768|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       11|     c:11|                 |         Los Angeles|      407 N Maple Dr|          | Beverly Hills|     90210|        CA|         USA|34.076179|-118.394170|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       12|     c:12|                 |              SF Bay|     1355 Market St.|          | San Francisco|     94103|        CA|         USA|37.776805|-122.416924|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       14|     c:14|                 |              SF Bay|                    |          |    Menlo Park|          |        CA|         USA|37.484130|-122.169472|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       15|     c:15|               HQ|              SF Bay|   539 Bryant Street|          | San Francisco|     94107|        CA|         USA|37.789634|-122.404052|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       16|     c:16|                 |           San Diego|16935 W. Bernardo...|          |     San Diego|     92127|        CA|         USA|33.022176|-117.081406|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       17|     c:18|Lala Headquarters|              SF Bay|    209 Hamilton Ave|Suite #200|     Palo Alto|     94301|        CA|         USA|37.451151|-122.154369|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       18|     c:19|                 |         Los Angeles|10960 Wilshire Blvd.| Suite 700|   Los Angeles|     90024|        CA|         USA|34.057498|-118.446596|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       19|     c:20|     Headquarters|              SF Bay|2145 Hamilton Avenue|          |      San Jose|     95125|        CA|         USA|37.295005|-121.930035|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       20|     c:21|                 |United States - O...|                    |          |              |          |          |         USA|37.090240| -95.712891|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       21|     c:22|                 |            New York|                    |          | New York City|          |        NY|         USA|40.757929| -73.985506|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       22|     c:23|                 |            New York|    100 5th Ave Fl 6|          |      New York|10011-6903|        NY|         USA|40.746497| -74.009447|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       23|     c:24|                 |  California - Other|                    |          |              |          |        CA|         USA|37.269175|-119.306607|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       24|     c:25|               HQ|            New York|       1515 Broadway|          |      New York|     10036|        NY|         USA|40.757725| -73.986011|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       25|     c:26|                 |              London|                    |          |        London|          |          |         GBR|53.344104|  -6.267494|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       26|     c:27|               HQ|              SF Bay|1050 Enterprise W...|          |     Sunnyvale|     94089|        CA|         USA|37.387845|-122.055197|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       27|     c:28|     Headquarters|              SF Bay| 170 West Tasman Dr.|          |      San Jose|     95134|        CA|         USA|37.408802|-121.953770|2007-01-01 22:19:54|2007-01-01 22:19:54|
|       28|     c:29|                 |              SF Bay|    701 First Avenue|          |     Sunnyvale|     94089|        CA|         USA|37.418531|-122.025485|2007-01-01 22:19:54|2007-01-01 22:19:54|
+---------+---------+-----------------+--------------------+--------------------+----------+--------------+----------+----------+------------+---------+-----------+-------------------+-------------------+
only showing top 20 rows

## Data Checking

### Data Profiling

In [75]:
import os
import json
from datetime import datetime, date
from decimal import Decimal

# Helper function buat konversi tipe data ke JSON-compatible
def convert_to_serializable(obj):
    if isinstance(obj, Decimal):
        return float(obj)
    if isinstance(obj, (datetime, date)):
        return obj.isoformat()
    return obj

def profile_data(person, df, table_name, format_file):
    try:
        n_rows = df.count()
        n_cols = len(df.columns)
        
        column_info = {}
        for col in df.columns:
            data_type = df.schema[col].dataType.simpleString()
            sample_values = df.select(col).distinct().limit(5).rdd.flatMap(lambda x: x).collect()
            null_count = df.filter(df[col].isNull()).count()
            unique_count = df.select(col).distinct().count()
            
            # Min and max values (if numeric or date type)
            try:
                min_value = df.agg({col: "min"}).collect()[0][0]
                max_value = df.agg({col: "max"}).collect()[0][0]
            except:
                min_value = None
                max_value = None
            
            # Persentase missing value
            percentage_missing = round((null_count / n_rows) * 100, 2) if n_rows > 0 else 0.0
            
            # Ambil 5 nilai unik sebagai sampel
            unique_values = df.select(col).distinct().limit(5).rdd.flatMap(lambda x: x).collect()
            
            # Persentase valid date (khusus untuk tipe date dan datetime)
            percentage_valid_date = None
            if data_type in ['date', 'timestamp']:
                valid_date_count = df.filter(df[col].isNotNull()).count()
                percentage_valid_date = round((valid_date_count / n_rows) * 100, 2) if n_rows > 0 else 0.0

            column_info[col] = {
                "data_type": data_type,
                "sample_values": [convert_to_serializable(v) for v in sample_values] if sample_values else None,
                "unique_count": unique_count,
                "unique_value": [convert_to_serializable(v) for v in unique_values] if unique_values else None,
                "null_count": null_count,
                "percentage_missing_value": percentage_missing,
                "min_value": convert_to_serializable(min_value),
                "max_value": convert_to_serializable(max_value),
                "percentage_valid_date": percentage_valid_date
            }
        
        dict_profiling = {
            "created_at": datetime.now().isoformat(),
            "person_in_charge": person,
            "profiling_result": {
                "table_name": table_name,
                "format_file": format_file,
                "n_rows": n_rows,
                "n_cols": n_cols,
                "report": column_info
            }
        }
        
        # Save profiling result to JSON
        folder_path = "data_profiling"
        os.makedirs(folder_path, exist_ok=True)

        file_path = os.path.join(folder_path, f"{table_name}_profiling.json")
        with open(file_path, "w") as f:
            json.dump(dict_profiling, f, indent=4, default=convert_to_serializable)

        print(f"Profiling saved to: {file_path}")

        # Create success log message
        log_msg = {
            "step": "Profiling",
            "status": "Success",
            "source": format_file,
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S") 
        }

    except Exception as e:
        print(f"Error profiling table {table_name}: {e}")

        # Create fail log message
        log_msg = {
            "step": "Profiling",
            "status": f"Failed: {e}",
            "source": format_file,
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S") 
        }

    finally:
        # Save log to CSV
        log_to_csv(log_msg, "etl_log.csv")

    return dict_profiling if 'dict_profiling' in locals() else None

In [76]:
# test 1
profiling_result = profile_data("Mr. A", people, "people_data", "from Staging")
print(json.dumps(profiling_result, indent=2))

Profiling saved to: data_profiling/people_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
{
  "created_at": "2025-03-22T09:50:39.336805",
  "person_in_charge": "Mr. A",
  "profiling_result": {
    "table_name": "people_data",
    "format_file": "from Staging",
    "n_rows": 226709,
    "n_cols": 6,
    "report": {
      "people_id": {
        "data_type": "string",
        "sample_values": [
          "177264",
          "296",
          "91421",
          "467",
          "177595"
        ],
        "unique_count": 226709,
        "unique_value": [
          "177264",
          "296",
          "91421",
          "467",
          "177595"
        ],
        "null_count": 0,
        "percentage_missing_value": 0.0,
        "min_value": "1",
        "max_value": "99999",
        "percentage_valid_date": null
      },
      "object_id": {
        "data_type": "string",
        "sample_values": [
          "p:105829",
          "p:73",
          "p:171",
          "p:214",
          "p:214744"
        ],
        "unique_count": 226709,
        "unique_value": [
          "p:105829",
          "p:73",
          "p:171",
          "p:214",
          "p:214744"
        ],
        "null_count": 0,
        "percentage_missing_value": 0.0,
        "min_value": "p:10",
        "max_value": "p:99999",
        "percentage_valid_date": null
      },
      "first_name": {
        "data_type": "string",
        "sample_values": [
          "Hideki",
          "Tyler",
          "Nell",
          "K",
          "Rony"
        ],
        "unique_count": 28423,
        "unique_value": [
          "Hideki",
          "Tyler",
          "Nell",
          "K",
          "Rony"
        ],
        "null_count": 5,
        "percentage_missing_value": 0.0,
        "min_value": "\"\"\"DJ\"",
        "max_value": "\u00de\u00f3rlindur",
        "percentage_valid_date": null
      },
      "last_name": {
        "data_type": "string",
        "sample_values": [
          "Broukhim",
          "Francois",
          "Nerst",
          "Banerjee",
          "Cancel"
        ],
        "unique_count": 107774,
        "unique_value": [
          "Broukhim",
          "Francois",
          "Nerst",
          "Banerjee",
          "Cancel"
        ],
        "null_count": 1,
        "percentage_missing_value": 0.0,
        "min_value": "!llmind",
        "max_value": "\u00fcz\u00fcm",
        "percentage_valid_date": null
      },
      "birthplace": {
        "data_type": "string",
        "sample_values": [
          "Gainesville, FL",
          "Bangalore",
          "jacksonville , FL",
          "Brisbane, Australia",
          "North Adams, MA"
        ],
        "unique_count": 8273,
        "unique_value": [
          "Gainesville, FL",
          "Bangalore",
          "jacksonville , FL",
          "Brisbane, Australia",
          "North Adams, MA"
        ],
        "null_count": 198622,
        "percentage_missing_value": 87.61,
        "min_value": " Jr.\"",
        "max_value": "\u00e4\u00b8\u00ad\u00e5\u009b\u00bd",
        "percentage_valid_date": null
      },
      "affiliation_name": {
        "data_type": "string",
        "sample_values": [
          "Blue Nile",
          "Pandora Media",
          "YouSendIt",
          "Diet TV",
          "SomethingSimpler"
        ],
        "unique_count": 27250,
        "unique_value": [
          "Blue Nile",
          "Pandora Media",
          "YouSendIt",
          "Diet TV",
          "SomethingSimpler"
        ],
        "null_count": 21,
        "percentage_missing_value": 0.01,
        "min_value": "! Haz Life",
        "max_value": "\u00d6resundswebb",
        "percentage_valid_date": null
      }
    }
  }
}

In [77]:
profile_data("Mr. CCC", relationship, "relationship_data", "from Staging")
profile_data("Mrs. H", acquisition, "acquisition_data", "from Staging")
profile_data("Mrs. OP", company, "company_data", "from Staging")
profile_data("Mr. CCC", funding_rounds, "funding_rounds_data", "from Staging")
profile_data("Mr. A", funds, "funds_data", "from Staging")
profile_data("Mrs. H", investments, "investments_data", "from Staging")
profile_data("Mr. A", ipos, "ipos_data", "from Staging")
profile_data("Mrs. OP", milestones, "milestones_data", "from Staging")

Profiling saved to: data_profiling/relationship_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/acquisition_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/company_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/funding_rounds_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/funds_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/investments_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/ipos_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv
Profiling saved to: data_profiling/milestones_data_profiling.json
Log written to /home/jovyan/work/logs/etl_log.csv

{'created_at': '2025-03-22T09:53:41.820808',
 'person_in_charge': 'Mrs. OP',
 'profiling_result': {'table_name': 'milestones_data',
  'format_file': 'from Staging',
  'n_rows': 8152,
  'n_cols': 9,
  'report': {'created_at': {'data_type': 'string',
    'sample_values': ['2010-09-30 04:46:05.000',
     '2010-10-04 23:53:31.000',
     '2010-05-26 23:08:38.000',
     '2010-07-09 05:01:33.000',
     '2010-07-10 12:53:28.000'],
    'unique_count': 7504,
    'unique_value': ['2010-09-30 04:46:05.000',
     '2010-10-04 23:53:31.000',
     '2010-05-26 23:08:38.000',
     '2010-07-09 05:01:33.000',
     '2010-07-10 12:53:28.000'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': '2008-06-18 08:14:06.000',
    'max_value': '2013-12-10 20:15:30.000',
    'percentage_valid_date': None},
   'description': {'data_type': 'string',
    'sample_values': ["Viewfinity named in 'Hottest Boston Companies' List",
     'Centralway invested in \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n LLC \x97 the largest US-based mail order portal in the Czech Republic.',
     'Eyeblaster files for IPO',
     'Arsago Launches UCITS LatAm Fund.',
     'Sonicbids launches new venue database.'],
    'unique_count': 8012,
    'unique_value': ["Viewfinity named in 'Hottest Boston Companies' List",
     'Centralway invested in \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n LLC \x97 the largest US-based mail order portal in the Czech Republic.',
     'Eyeblaster files for IPO',
     'Arsago Launches UCITS LatAm Fund.',
     'Sonicbids launches new venue database.'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCompleted the raise of StarVest Partners II, a $245 million fund in January 2009',
    'max_value': 'â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£ â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90',
    'percentage_valid_date': None},
   'milestone_at': {'data_type': 'string',
    'sample_values': ['2009-12-04',
     '2009-06-23',
     '2010-09-24',
     '2010-02-12',
     '2008-12-03'],
    'unique_count': 924,
    'unique_value': ['2009-12-04',
     '2009-06-23',
     '2010-09-24',
     '2010-02-12',
     '2008-12-03'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': '2008-01-01',
    'max_value': '2010-12-31',
    'percentage_valid_date': None},
   'milestone_code': {'data_type': 'string',
    'sample_values': ['other'],
    'unique_count': 1,
    'unique_value': ['other'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': 'other',
    'max_value': 'other',
    'percentage_valid_date': None},
   'milestone_id': {'data_type': 'bigint',
    'sample_values': [2453, 5556, 4823, 2509, 2529],
    'unique_count': 8152,
    'unique_value': [2453, 5556, 4823, 2509, 2529],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': 1,
    'max_value': 39356,
    'percentage_valid_date': None},
   'object_id': {'data_type': 'string',
    'sample_values': ['c:41922', 'c:58230', 'c:23012', 'c:57411', 'c:44410'],
    'unique_count': 4065,
    'unique_value': ['c:41922', 'c:58230', 'c:23012', 'c:57411', 'c:44410'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': 'c:1',
    'max_value': 'f:9985',
    'percentage_valid_date': None},
   'source_description': {'data_type': 'string',
    'sample_values': ['Zedira Raises Additional Funding',
     'Muecs Ltd. Launches an Online Collaboration Tool for Enterprises With a Social Media Analyzer',
     'Mugasha Launches Online Electronic Music Service',
     'Datapipe Named Growth Company of the Year',
     'Towerstream Launches Wireless Broadband Network in Philadelphia, PA'],
    'unique_count': 5452,
    'unique_value': ['Zedira Raises Additional Funding',
     'Muecs Ltd. Launches an Online Collaboration Tool for Enterprises With a Social Media Analyzer',
     'Mugasha Launches Online Electronic Music Service',
     'Datapipe Named Growth Company of the Year',
     'Towerstream Launches Wireless Broadband Network in Philadelphia, PA'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': '\t  After Whirlwind Year, Everyday Health To Tap Public Markets For $100M',
    'max_value': 'â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£ â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90£â\x90',
    'percentage_valid_date': None},
   'source_url': {'data_type': 'string',
    'sample_values': ['http://techcrunch.com/2010/07/10/google-secretly-invested-100-million-in-zynga-preparing-to-launch-google-games/',
     'http://www.tokyocamp.net/',
     'http://www.pr.com/press-release/173572',
     'http://blog.zooners.com/',
     'http://paidcontent.org/article/419-ipg-shifts-initiatives-breen-to-reprise-media-as-global-ceo/'],
    'unique_count': 6064,
    'unique_value': ['http://techcrunch.com/2010/07/10/google-secretly-invested-100-million-in-zynga-preparing-to-launch-google-games/',
     'http://www.tokyocamp.net/',
     'http://www.pr.com/press-release/173572',
     'http://blog.zooners.com/',
     'http://paidcontent.org/article/419-ipg-shifts-initiatives-breen-to-reprise-media-as-global-ceo/'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': 'NaN',
    'max_value': 'www://connectwithcoaches.com/',
    'percentage_valid_date': None},
   'updated_at': {'data_type': 'string',
    'sample_values': ['2010-05-31 01:20:43.000',
     '2010-07-10 12:53:28.000',
     '2010-07-12 02:15:04.000',
     '2010-03-10 18:47:20.000',
     '2010-10-12 21:16:38.000'],
    'unique_count': 7263,
    'unique_value': ['2010-05-31 01:20:43.000',
     '2010-07-10 12:53:28.000',
     '2010-07-12 02:15:04.000',
     '2010-03-10 18:47:20.000',
     '2010-10-12 21:16:38.000'],
    'null_count': 0,
    'percentage_missing_value': 0.0,
    'min_value': '2008-06-18 08:14:06.000',
    'max_value': '2013-12-11 03:24:18.000',
    'percentage_valid_date': None}}}}